.form-input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 0; }

.policy-form {
  box-sizing: border-box;
  width: 100%; }
  .policy-form__subheading {
    font-size: 18px;
    margin-bottom: 36px;
    color: magenta; }
  .policy-form__input-date {
    margin-bottom: 48px; }
  .policy-form__input-prompt {
    margin-bottom: 47px; }
  .policy-form__subtitle {
    color: #b5bdc8;
    margin-bottom: 48px; }
  .policy-form__contact-details {
    font-size: 13px;
    color: #5a646e;
    margin-bottom: 24px; }
  .policy-form__input-subtitle {
    margin-bottom: 47px; }
  .policy-form__checkbox {
    margin-bottom: 48px; }
  .policy-form__button-container {
    width: 100%;
    max-width: 365px;
    margin-top: 96px;
    margin-bottom: 48px; }

.form-buttons {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px; }
  .form-buttons__container-button-img {
    max-width: 140px;
    margin-bottom: 48px; }
  .form-buttons__container-button {
    width: 100%;
    max-width: 365px;
    margin-bottom: 48px; }
  .form-buttons__container-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px; }
  .form-buttons__scale-image {
    width: 102px;
    height: 108px;
    border-radius: 22px; }
    .form-buttons__scale-image:hover {
      transform: scale(1.1);
      opacity: 0.9;
      transition: all 0.2s linear; }
  .form-buttons__scale-title {
    color: #fff;
    display: block; }
    .form-buttons__scale-title:hover {
      transform: scale(1.1);
      opacity: 0.9;
      transition: all 0.2s linear; }
  .form-buttons__secondary-button {
    max-width: 232px; }
    .form-buttons__secondary-button:hover {
      opacity: 0.9;
      transition: all 0.2s linear;
      border: 2px solid #0a0a0a;
      box-shadow: 2px 2px 2px 2px #0a0a0a; }
    .form-buttons__secondary-button:first-child {
      background-color: #50287d;
      color: #ffffff;
      margin-right: 48px; }
    .form-buttons__secondary-button:last-child {
      background-color: #fff;
      color: #50287d;
      border: 1px solid #50287d;
      display: none; }
      @media screen and (min-width: 576px) {
        .form-buttons__secondary-button:last-child {
          display: block; }
          .form-buttons__secondary-button:last-child:hover {
            border: 2px solid #50287d;
            box-shadow: 2px 2px 2px 2px #50287d; } }

.form-checkbox {
  width: 100%; }
  .form-checkbox__checkbox {
    margin-bottom: 48px; }

.form-slider {
  box-sizing: border-box;
  width: 100%;
  padding-top: 72px; }
  .form-slider__container {
    width: 100%;
    max-width: 365px;
    position: relative;
    margin-bottom: 36px; }
  .form-slider__subheading {
    margin-bottom: 24px; }
  .form-slider__titles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px; }
  .form-slider__title {
    margin-bottom: 80px; }

.slider-icon {
  appearance: none;
  width: 100%;
  height: 0px;
  background: #d3d3d3;
  outline: none; }
  .slider-icon::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 20px;
    background: url(../../../assets/icons/iconSlider.svg);
    cursor: pointer;
    position: relative; }
  .slider-icon::-webkit-range-thumb {
    width: 14px;
    height: 20px;
    background: url(../../../assets/icons/iconSlider.svg);
    cursor: pointer;
    position: relative; }
  .slider-icon__value {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 15px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
    left: 0; }

.form-radiobutton {
  box-sizing: border-box;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px; }
  .form-radiobutton__multicolor-switch {
    width: 100%;
    max-width: 272px;
    margin-bottom: 60px; }
    @media screen and (min-width: 375px) {
      .form-radiobutton__multicolor-switch {
        max-width: 372px; } }
  .form-radiobutton__triple-switch {
    width: 100%;
    max-width: 330px;
    margin-bottom: 60px; }
  .form-radiobutton__container-secondary-radio {
    width: 100%;
    margin-bottom: 60px; }
  .form-radiobutton__secondary-radio {
    max-width: 132px; }
  .form-radiobutton__twin-switch {
    width: 100%;
    max-width: 560px;
    margin-bottom: 60px; }

.form-drop-down {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }

.form-menu {
  width: 100%;
  padding: 48px 0; }
  .form-menu__header {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(white, #e010d6, white); }
  .form-menu__heading {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 24px; }
    @media screen and (min-width: 767px) {
      .form-menu__heading {
        font-size: 34px;
        line-height: 48px; } }
  .form-menu__direction {
    font-size: 11px; }
  .form-menu__header-item {
    position: relative; }
    .form-menu__header-item:hover .form-menu__content {
      display: block; }
  .form-menu__button {
    min-width: 150px;
    padding: 24px 12px;
    font-weight: normal;
    color: #ffffff; }
    .form-menu__button:hover {
      font-weight: bold; }
  .form-menu__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .form-menu__link {
    font-size: 14px;
    padding: 6px 24px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #95cadf; }
    .form-menu__link:hover {
      background-color: #ddd; }

.nav {
  width: 100%;
  padding-bottom: 36px;
  background-color: #fff; }
  .nav__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media screen and (min-width: 767px) {
      .nav__heading {
        font-size: 24px;
        line-height: 36px; } }
  .nav__description {
    font-size: 11px;
    line-height: 24px;
    margin-bottom: 12px; }
  .nav__direction {
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin-top: 24px; }
  .nav__list {
    max-width: 320px;
    margin-right: 10px;
    border-top: 1px solid #bfd1e4;
    background: rgba(230, 240, 250, 0.75);
    position: relative; }
    .nav__list:hover .nav__hidden {
      display: block;
      width: 100%;
      background: #e6f0fa;
      position: relative; }
    @media screen and (min-width: 375px) {
      .nav__list {
        max-width: 375px; } }
    .nav__list:hover .nav__link {
      background-color: #ddd;
      color: black;
      transform: scaleY(1.05);
      transition: all 2ms linear; }
  .nav__hidden {
    display: none; }
  .nav__link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    padding: 6px 24px; }
  .nav__item {
    padding-left: 48px;
    position: relative;
    border-top: 1px solid #bfd1e4; }
    .nav__item_link {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px; }
      .nav__item_link:hover {
        background-color: #ddd;
        color: black;
        transform: scaleY(1.05);
        transition: all 2ms linear; }

.guide {
  width: 100%;
  padding-bottom: 36px;
  background-color: #fff; }
  .guide__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media screen and (min-width: 767px) {
      .guide__heading {
        font-size: 24px;
        line-height: 36px; } }
  .guide__description {
    font-size: 11px;
    line-height: 24px;
    margin-bottom: 12px; }
  .guide__direction {
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin-top: 24px; }
  .guide__list {
    max-width: 320px;
    margin-right: 10px;
    border-top: 1px solid #bfd1e4;
    background: rgba(230, 240, 250, 0.75);
    position: relative; }
    .guide__list:hover .guide__hidden {
      display: block;
      width: 100%;
      background: #e6f0fa;
      position: absolute;
      z-index: 1; }
    @media screen and (min-width: 375px) {
      .guide__list {
        max-width: 375px; } }
    .guide__list:hover .guide__link {
      background-color: #ddd;
      color: black;
      transform: scaleY(1.05);
      transition: all 2ms linear; }
  .guide__hidden {
    display: none; }
  .guide__link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    padding: 6px 24px; }
  .guide__item {
    padding-left: 48px;
    position: relative;
    border-top: 1px solid #bfd1e4; }
    .guide__item_link {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px; }
      .guide__item_link:hover {
        background-color: #ddd;
        color: black;
        transform: scaleY(1.05);
        transition: all 2ms linear; }

.form-select {
  padding-bottom: 400px; }
  .form-select__select {
    margin-bottom: 48px; }

.select {
  width: 100%; }
  .select__list {
    font-size: 13px;
    width: 100%; }
  .select__item {
    font-size: 13px;
    width: 100%; }

.header {
  width: 100%;
  height: 72px;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-image: linear-gradient(#e010d6, white); }
