.transformations {
  width: 100%;
  margin-bottom: 48px; }
  .transformations__coordinate-picture {
    width: 100%;
    max-width: 231px;
    height: 228px; }

.transform {
  margin-right: -6px;
  margin-left: -6px;
  box-sizing: border-box;
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll; }
  @media screen and (min-width: 1299px) {
    .transform {
      overflow-x: hidden; } }
  .transform__box {
    width: 165.6px;
    min-width: 165.6px;
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-sizing: border-box; }
  .transform__formula {
    margin: 6px; }
  .transform__span {
    display: block;
    color: blue; }
  .transform__zone {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid gray;
    height: 120px;
    cursor: pointer;
    position: relative; }
  .transform__icon {
    background-size: cover;
    background-position: center center;
    width: 48px;
    height: 48px; }

.translate-x {
  width: 100%;
  margin-bottom: 48px; }
  .translate-x__zone {
    cursor: pointer; }
    .translate-x__zone_fourth:hover .translate-x__start_fourth {
      transform: translateX(50px); }
    .translate-x__zone_fifth:hover .translate-x__start_fifth {
      transform: translateX(-50px); }
  .translate-x__icon {
    background-image: url(../../assets/icons/antiMiteGirl.svg); }
  .translate-x__start {
    width: 48px;
    height: 48px;
    position: relative;
    top: 46px;
    left: 57.8px; }
    .translate-x__start_second {
      transform: translateX(50px); }
    .translate-x__start_third {
      transform: translateX(-50px); }

.translate-y {
  width: 100%;
  margin-bottom: 48px; }
  .translate-y__zone {
    cursor: pointer; }
    .translate-y__zone_fourth:hover .translate-y__start_fourth {
      transform: translateY(20px); }
    .translate-y__zone_fifth:hover .translate-y__start_fifth {
      transform: translateY(-20px); }
  .translate-y__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg); }
  .translate-y__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px; }
    .translate-y__start_second {
      transform: translateY(20px); }
    .translate-y__start_third {
      transform: translateY(-20px); }

.translate {
  width: 100%;
  margin-bottom: 48px; }
  .translate__zone {
    cursor: pointer; }
    .translate__zone_fourth:hover .translate__start_fourth {
      transform: translateX(50px) translateY(-45px); }
    .translate__zone_fifth:hover .translate__start_fifth {
      transform: translate(50px, -45px); }
  .translate__icon {
    background-image: url(../../assets/icons/antiMiteForest.svg); }
  .translate__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 46px;
    left: 0px; }
    .translate__start_second {
      transform: translateX(50px) translateY(-45px); }
    .translate__start_third {
      transform: translate(50px, -45px); }

.scale {
  width: 100%;
  margin-bottom: 48px; }
  .scale__zone {
    cursor: pointer; }
    .scale__zone_second:hover .scale__start_second {
      transform: scale(0.5); }
    .scale__zone_second:active .scale__start_second {
      transform: scale(2); }
    .scale__zone_third:hover .scale__start_third {
      transform: scale(2); }
    .scale__zone_third:active .scale__start_third {
      transform: scale(0.5); }
    .scale__zone_fourth:hover .scale__start_fourth {
      transform: scale(0); }
    .scale__zone_fourth:active .scale__start_fourth {
      transform: scale(2); }
    .scale__zone_fifth:hover .scale__start_fifth {
      transform: scale(1); }
  .scale__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg); }
  .scale__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px; }

.scale-x {
  width: 100%;
  margin-bottom: 48px; }
  .scale-x__zone {
    cursor: pointer; }
    .scale-x__zone_second:hover .scale-x__start_second {
      transform: scaleX(0.5); }
    .scale-x__zone_second:active .scale-x__start_second {
      transform: scaleX(2); }
    .scale-x__zone_third {
      cursor: pointer; }
      .scale-x__zone_third:hover .scale-x__start_third {
        transform: scaleX(2); }
      .scale-x__zone_third:active .scale-x__start_third {
        transform: scaleX(0.5); }
    .scale-x__zone_fourth {
      cursor: pointer; }
      .scale-x__zone_fourth:hover .scale-x__start_fourth {
        transform: scaleX(0); }
      .scale-x__zone_fourth:active .scale-x__start_fourth {
        transform: scaleX(2); }
    .scale-x__zone_fifth {
      cursor: pointer; }
      .scale-x__zone_fifth:hover .scale-x__start_fifth {
        transform: scaleX(1); }
  .scale-x__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg); }
  .scale-x__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px; }

.scale-y {
  width: 100%;
  margin-bottom: 48px; }
  .scale-y__zone {
    cursor: pointer; }
    .scale-y__zone_second:hover .scale-y__start_second {
      transform: scaleY(0.5); }
    .scale-y__zone_second:active .scale-y__start_second {
      transform: scaleY(2); }
    .scale-y__zone_third:hover .scale-y__start_third {
      transform: scaleY(2); }
    .scale-y__zone_third:active .scale-y__start_third {
      transform: scaleY(0.5); }
    .scale-y__zone_fourth {
      cursor: pointer; }
      .scale-y__zone_fourth:hover .scale-y__start_fourth {
        transform: scaleY(0); }
      .scale-y__zone_fourth:active .scale-y__start_fourth {
        transform: scaleY(2); }
    .scale-y__zone_fifth {
      cursor: pointer; }
      .scale-y__zone_fifth:hover .scale-y__start_fifth {
        transform: scaleY(1); }
  .scale-y__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg); }
  .scale-y__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px; }

.rotate {
  width: 100%;
  margin-bottom: 48px; }
  .rotate__image {
    width: 63px;
    height: 63px; }
    @media screen and (min-width: 767px) {
      .rotate__image {
        width: 98px;
        height: 98px; } }
  .rotate__zone {
    cursor: pointer; }
    .rotate__zone_second:hover .rotate__start_second {
      transform: rotate(45deg); }
    .rotate__zone_second:active .rotate__start_second {
      transform: rotate(135deg); }
    .rotate__zone_third {
      cursor: pointer; }
      .rotate__zone_third:hover .rotate__start_third {
        transform: rotate(90deg); }
      .rotate__zone_third:active .rotate__start_third {
        transform: rotate(180deg); }
    .rotate__zone_fourth {
      cursor: pointer; }
      .rotate__zone_fourth:hover .rotate__start_fourth {
        transform: rotate(-45deg); }
      .rotate__zone_fourth:active .rotate__start_fourth {
        transform: rotate(-135deg); }
    .rotate__zone_fifth {
      cursor: pointer; }
      .rotate__zone_fifth:hover .rotate__start_fifth {
        transform: rotate(-90deg); }
      .rotate__zone_fifth:active .rotate__start_fifth {
        transform: rotate(-180deg); }
  .rotate__icon {
    background-image: url(../../assets/icons/clock.svg); }
  .rotate__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px; }
  .rotate__image-direction {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 600 / 270; }

.skew-x {
  width: 100%;
  margin-bottom: 48px; }
  .skew-x__zone {
    cursor: pointer; }
    .skew-x__zone_fourth:hover .skew-x__start_fourth {
      transform: skewX(45deg); }
    .skew-x__zone_fifth:hover .skew-x__start_fifth {
      transform: skewX(-45deg); }
  .skew-x__icon {
    background-image: url(../../assets/images/doctrineForm/womenCall.jpg); }
  .skew-x__start {
    position: relative;
    width: 80px;
    height: 74.93px;
    top: 20px;
    left: 36.8px; }
    .skew-x__start_second {
      transform: skewX(15deg); }
    .skew-x__start_third {
      transform: skewX(-15deg); }

.skew-y {
  width: 100%;
  margin-bottom: 48px; }
  .skew-y__zone {
    cursor: pointer; }
    .skew-y__zone_fourth:hover .skew-y__start_fourth {
      transform: skewY(45deg); }
    .skew-y__zone_fifth:hover .skew-y__start_fifth {
      transform: skewY(-45deg); }
  .skew-y__icon {
    background-image: url(../../assets/images/doctrineForm/womenCall.jpg); }
  .skew-y__start {
    position: relative;
    width: 80px;
    height: 74.93px;
    top: 20px;
    left: 36.8px; }
    .skew-y__start_second {
      transform: skewY(15deg); }
    .skew-y__start_third {
      transform: skewY(-15deg); }

.transform-origin {
  width: 100%;
  margin-bottom: 48px; }
  .transform-origin__image {
    width: 325px;
    height: 256px;
    margin-bottom: 48px; }
  .transform-origin__image-example {
    width: 163.59px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0; }
  .transform-origin__example {
    padding-bottom: 200px; }
  .transform-origin__zone {
    cursor: pointer; }
    .transform-origin__zone_second:hover .transform-origin__start_second {
      transform: rotate(-360deg);
      transition: transform 1s ease; }
    .transform-origin__zone_second:active .transform-origin__start_second {
      transform: rotate(360deg);
      transition: transform 1s ease; }
    .transform-origin__zone_third:hover .transform-origin__start_third {
      transform-origin: 100% 50%;
      transform: rotate(-360deg);
      transition: transform 1s ease; }
    .transform-origin__zone_third:active .transform-origin__start_third {
      transform: rotate(360deg);
      transform-origin: 100% 50%;
      transition: transform 1s ease; }
    .transform-origin__zone_fourth:hover .transform-origin__start_fourth {
      transform: rotate(-360deg);
      transform-origin: top right;
      transition: transform 1s ease; }
    .transform-origin__zone_fourth:active .transform-origin__start_fourth {
      transform: rotate(360deg);
      transform-origin: top right;
      transition: transform 1s ease; }
    .transform-origin__zone_fifth:hover .transform-origin__start_fifth {
      transform: rotate(360deg);
      transform-origin: center right;
      transition: transform 1s ease; }
    .transform-origin__zone_fifth:active .transform-origin__start_fifth {
      transform: rotate(-360deg);
      transform-origin: center right;
      transition: transform 1s ease; }
  .transform-origin__start {
    position: relative;
    width: 163.59px;
    height: 173.2px; }

.header {
  opacity: 0.5;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(chartreuse, white, chartreuse); }
