.example-button__item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: visible;
  display: flex; }
  .example-button__item_primary {
    position: relative; }
    .example-button__item_primary:hover {
      transition-duration: 1s;
      background-color: #ff5252; }
  .example-button__item_secondary {
    position: relative; }
    .example-button__item_secondary:hover {
      transition-duration: 200ms;
      background-color: #ff5252;
      color: #ffffff; }
    .example-button__item_secondary:hover .example-button__image:nth-child(2) {
      transition-duration: 200ms;
      opacity: 1;
      transform: rotate(45deg); }
    .example-button__item_secondary:hover .example-button__image:nth-child(1) {
      transition-duration: 200ms;
      transform: scale(10);
      opacity: 0; }

.example-button__image {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  top: 4.5px;
  left: 4.5px; }
  .example-button__image:nth-child(2) {
    opacity: 0; }

.form {
  background-color: #fff; }
  .form__image-graph {
    width: 244px;
    height: 332px; }
  .form__image-title {
    text-align: center;
    color: blue; }

.example {
  max-width: 944px;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 72px; }
  .example:hover .example__bloc {
    border-radius: 50%;
    transform: translateX(750px) rotate(1800deg);
    transition-duration: 3s; }
    .example:hover .example__bloc:nth-child(1) {
      transition-timing-function: ease; }
    .example:hover .example__bloc:nth-child(2) {
      transition-timing-function: ease-in; }
    .example:hover .example__bloc:nth-child(3) {
      transition-timing-function: ease-out; }
    .example:hover .example__bloc:nth-child(4) {
      transition-timing-function: ease-in-out; }
    .example:hover .example__bloc:nth-child(5) {
      transition-timing-function: linear;
      color: green; }
    .example:hover .example__bloc:nth-child(6) {
      transition-timing-function: step-start; }
    .example:hover .example__bloc:nth-child(7) {
      transition-timing-function: step-end; }
    .example:hover .example__bloc:nth-child(8) {
      transition-timing-function: steps; }
    .example:hover .example__bloc:nth-child(9) {
      transition-timing-function: cubic-bezier; }
  .example__bloc {
    width: 60px;
    height: 60px;
    margin: 12px 24px;
    color: white;
    text-align: center; }
    .example__bloc:nth-child(1) {
      background-color: black; }
    .example__bloc:nth-child(2) {
      background-color: gray; }
    .example__bloc:nth-child(3) {
      background-color: red; }
    .example__bloc:nth-child(4) {
      background-color: orange; }
    .example__bloc:nth-child(5) {
      background-color: yellow;
      color: red; }
    .example__bloc:nth-child(6) {
      background-color: green; }
    .example__bloc:nth-child(7) {
      background-color: blue; }
    .example__bloc:nth-child(8) {
      background-color: #050535; }
    .example__bloc:nth-child(9) {
      background-color: purple; }

.graphics-transition {
  width: 100%;
  background-color: #fff;
  margin-bottom: 72px; }
  .graphics-transition__heading {
    margin-bottom: 36px; }
  .graphics-transition__block {
    width: 100%;
    display: block; }
  .graphics-transition__column {
    width: 271px;
    display: inline-block; }
  .graphics-transition__image {
    width: 100%;
    height: auto; }
  .graphics-transition__title {
    text-align: center; }

.header {
  opacity: 0.7;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(black, white, black); }
