.form-buttons {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px; }
  .form-buttons__container-button-img {
    max-width: 140px;
    margin-bottom: 48px; }
  .form-buttons__container-button {
    width: 100%;
    max-width: 365px;
    margin-bottom: 48px; }
  .form-buttons__container-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px; }
  .form-buttons__scale-image {
    width: 102px;
    height: 108px;
    border-radius: 22px; }
    .form-buttons__scale-image:hover {
      transform: scale(1.1);
      opacity: 0.9;
      transition: all 0.2s linear; }
  .form-buttons__scale-title {
    color: #fff;
    display: block; }
    .form-buttons__scale-title:hover {
      transform: scale(1.1);
      opacity: 0.9;
      transition: all 0.2s linear; }
  .form-buttons__secondary-button {
    max-width: 232px; }
    .form-buttons__secondary-button:hover {
      opacity: 0.9;
      transition: all 0.2s linear;
      border: 2px solid #0a0a0a;
      box-shadow: 2px 2px 2px 2px #0a0a0a; }
    .form-buttons__secondary-button:first-child {
      background-color: #50287d;
      color: #ffffff;
      margin-right: 48px; }
    .form-buttons__secondary-button:last-child {
      background-color: #fff;
      color: #50287d;
      border: 1px solid #50287d;
      display: none; }
      @media screen and (min-width: 576px) {
        .form-buttons__secondary-button:last-child {
          display: block; }
          .form-buttons__secondary-button:last-child:hover {
            border: 2px solid #50287d;
            box-shadow: 2px 2px 2px 2px #50287d; } }
