.form {
  width: 100%; }
  .form__checkbox {
    margin-bottom: 48px; }

.r-checkbox {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer; }
  .r-checkbox__checker {
    width: 20px;
    height: 20px;
    border: 2px solid #95bef0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 2px; }
    .r-checkbox__checker:hover::before {
      content: "";
      width: 10px;
      height: 10px;
      margin: auto;
      background-color: transparent; }
    .r-checkbox__checker:active::before {
      content: "";
      width: 10px;
      height: 10px;
      margin: auto;
      background-color: #00d2ff;
      transform: scale(1.2);
      transition: all 0.2s linear; }
  .r-checkbox__input {
    display: none; }
  .r-checkbox__agree-link {
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 42px; }
  .r-checkbox__link {
    color: #50287d;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    outline: 0;
    text-decoration: none; }
