body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #28323c; }
  @media screen and (min-width: 767px) {
    body * {
      font-size: 16px; } }

.main {
  position: relative;
  min-height: calc(100vh);
  background-color: #ffffff; }
  @media screen and (min-width: 1024px) {
    .main {
      margin-left: 355px; } }

.article {
  width: 100%;
  max-width: 944px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 96px;
  background-color: #fff;
  box-sizing: border-box; }
  @media screen and (min-width: 767px) {
    .article {
      padding-left: 28px;
      padding-right: 28px; } }

em {
  font-family: inherit;
  font-weight: inherit;
  font-style: oblique;
  font-size: inherit;
  line-height: inherit; }

b {
  font-family: inherit;
  font-weight: inherit;
  font-style: oblique;
  font-size: inherit;
  line-height: inherit;
  color: green; }

.form {
  box-sizing: border-box;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative; }
  .form:hover .form__info,
  .form:active .form__info {
    width: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
    z-index: 1; }
  .form:hover .form,
  .form:active .form {
    padding-bottom: 1500px; }
  .form__info {
    width: 100%;
    display: none; }
  .form__heading {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 36px;
    color: #000; }
    @media screen and (min-width: 767px) {
      .form__heading {
        font-size: 34px;
        line-height: 48px; } }
  .form__subheading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px;
    color: magenta; }
    @media screen and (min-width: 767px) {
      .form__subheading {
        font-size: 24px;
        line-height: 36px; } }
  .form__title {
    margin-top: 24px; }
  .form__subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid #1acc6a;
    color: #1acc6a; }
    @media screen and (min-width: 767px) {
      .form__subtitle {
        font-size: 20px;
        line-height: 24px; } }
  .form__description {
    margin-bottom: 24px; }
  .form__syntax {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px;
    color: green; }
    @media screen and (min-width: 767px) {
      .form__syntax {
        font-size: 24px;
        line-height: 36px; } }
  .form__link {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: blue; }
  .form__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 36px;
    box-shadow: 3px 3px 5px 1px #857b7b; }
  .form__column-2 {
    width: 100%;
    padding: 24px;
    margin-bottom: 36px;
    box-shadow: 3px 3px 5px 1px #857b7b; }
    @media screen and (min-width: 767px) {
      .form__column-2 {
        width: calc(50% - 24px);
        margin-left: 12px;
        margin-right: 12px; } }
  .form__column-4 {
    width: calc(50% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    padding: 24px;
    margin-bottom: 36px;
    box-shadow: 3px 3px 5px 1px #857b7b; }
    @media screen and (min-width: 767px) {
      .form__column-4 {
        width: calc(25% - 24px);
        margin-left: 12px;
        margin-right: 12px; } }
  .form__code-body {
    width: 100%;
    box-shadow: 3px 3px 5px 1px #857b7b;
    margin-bottom: 36px;
    position: relative; }
    .form__code-body:hover .form__code-box,
    .form__code-body:active .form__code-box {
      width: 100%;
      background-color: #fff;
      display: block;
      position: absolute;
      z-index: 1; }
    .form__code-body:hover .form,
    .form__code-body:active .form {
      padding-bottom: 1500px; }
  .form__body {
    width: 100%;
    margin-bottom: 36px; }
  .form__wrapper {
    padding: 24px;
    margin: 0 24px;
    box-shadow: 3px 3px 5px 1px #857b7b; }
  .form__code-box {
    display: none;
    width: 100%;
    margin-left: -52px; }
    @media screen and (min-width: 767px) {
      .form__code-box {
        margin-left: -24px; } }
    @media screen and (min-width: 1024px) {
      .form__code-box {
        margin-left: -24px; } }
  .form__code-font {
    font-size: 10px;
    line-height: 16px; }
    @media screen and (min-width: 576px) {
      .form__code-font {
        font-size: 14px; } }
    @media screen and (min-width: 767px) {
      .form__code-font {
        font-size: 16px; } }

.menu {
  background: rgba(230, 240, 250, 0.75);
  display: none; }
  @media screen and (min-width: 1024px) {
    .menu {
      position: fixed;
      top: 72px;
      left: 0;
      display: block;
      height: 100vh;
      width: 355px;
      padding: 24px 28px; } }
  .menu__list {
    border-top: 1px solid #bfd1e4; }
    .menu__list:hover .menu__item {
      display: block;
      background-color: #fff; }
    .menu__list:hover .menu__link {
      background-color: #ddd;
      color: black;
      font-size: 16px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .menu__link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    padding: 6px 0; }
  .menu__item {
    display: none;
    margin-left: 24px;
    position: relative;
    border-top: 1px solid #bfd1e4; }
    .menu__item_link {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      color: #333333;
      padding: 4px 0;
      margin-right: 10px; }
      .menu__item_link:hover {
        background-color: #ddd;
        color: black;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transform: scaleX(1.05); }

.menu-mobile {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e6f0fa; }
  @media screen and (min-width: 1024px) {
    .menu-mobile {
      display: none; } }
  .menu-mobile__logo-small {
    width: 24px;
    height: 24px; }
  .menu-mobile__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff; }
    .menu-mobile__dots_item {
      width: 5px;
      height: 5px;
      border-radius: 50%; }
      .menu-mobile__dots_item:nth-child(1) {
        background-color: #506478; }
      .menu-mobile__dots_item:nth-child(2) {
        margin: 0 2px;
        background-color: rgba(80, 100, 120, 0.6); }
      .menu-mobile__dots_item:nth-child(3) {
        background-color: rgba(80, 100, 120, 0.3); }

.header {
  width: 100%;
  height: 72px;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-image: linear-gradient(#e010d6, white); }
