.form-input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 0; }

.policy-form {
  box-sizing: border-box;
  width: 100%; }
  .policy-form__subheading {
    font-size: 18px;
    margin-bottom: 36px;
    color: magenta; }
  .policy-form__input-date {
    margin-bottom: 48px; }
  .policy-form__input-prompt {
    margin-bottom: 47px; }
  .policy-form__subtitle {
    color: #b5bdc8;
    margin-bottom: 48px; }
  .policy-form__contact-details {
    font-size: 13px;
    color: #5a646e;
    margin-bottom: 24px; }
  .policy-form__input-subtitle {
    margin-bottom: 47px; }
  .policy-form__checkbox {
    margin-bottom: 48px; }
  .policy-form__button-container {
    width: 100%;
    max-width: 365px;
    margin-top: 96px;
    margin-bottom: 48px; }
