.form-radiobutton {
  box-sizing: border-box;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px; }
  .form-radiobutton__multicolor-switch {
    width: 100%;
    max-width: 272px;
    margin-bottom: 60px; }
    @media screen and (min-width: 375px) {
      .form-radiobutton__multicolor-switch {
        max-width: 372px; } }
  .form-radiobutton__triple-switch {
    width: 100%;
    max-width: 330px;
    margin-bottom: 60px; }
  .form-radiobutton__container-secondary-radio {
    width: 100%;
    margin-bottom: 60px; }
  .form-radiobutton__secondary-radio {
    max-width: 132px; }
  .form-radiobutton__twin-switch {
    width: 100%;
    max-width: 560px;
    margin-bottom: 60px; }
