<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/generalMenu.css" />
    <link rel="stylesheet" href="../styles/css/javaScriptModel.css" />
    <link rel="stylesheet" href="../js/index.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- main -->
    <main class="main">
      <article class="article">
        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >
            </div>
          </div>
        </section>
        <!--  -->

        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >
            </div>
          </div>
        </section>
        <!--  -->

        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >
            </div>
          </div>
        </section>
        <!--  -->

        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >
            </div>
          </div>
        </section>
        <!--  -->

        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >
            </div>
          </div>
        </section>
        <!--  -->

        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__attention">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subdescription">xxx</p>

              <p class="form__subheading">
                <a target="_blank" rel="noopener" href="" class="form__link">
                  xxx</a
                >
              </p>

              <p class="form__description">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>

              <p class="form__description">xxx</p>

              <p class="form__subheading">xxx</p>

              <p class="form__syntax">xxx</p>

              <a target="_blank" rel="noopener" href="" class="form__link">
                xxx</a
              >

              <p class="form__syntax">xxx</p>
              <p class="form__description">xxx</p>
              <p class="form__description">xxx</p>
              <p class="form__description">xxx</p>
              <p class="form__syntax">xxx</p>
              <p class="form__syntax">xxx</p>
            </div>
          </div>
        </section>
        <!--  -->

        <!--  -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 class="form__heading">
              xxx
              <a target="_blank" rel="noopener" href="#" class="form__link">
                xxx</a
              >
            </h1>
            <div class="form__bloc-hidden">
              <p class="form__description">xxx</p>
              <p class="form__description">xxx</p>
              <p class="form__description">xxx</p>
              <p class="form__syntax">xxx</p>
              <p class="form__syntax">xxx</p>
            </div>
          </div>
        </section>
        <!--  -->
        <!-- encoding -->

        <section class="form">
          <div>
            <div class="encoding">
              <p class="encoding__prompt">HTML посмотреть код</p>
              <pre class="encoding__code-box">
                  <code class="encoding__code-font">                                   
                     xxx                                    
                  </code>
               </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">
                SCSS посмотреть код
              </p>
              <pre class="encoding__code-box">
                  <code>                                   
                     xxx                                    
                  </code>
               </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_third">
                SCSS посмотреть код
              </p>
              <pre class="encoding__code-box">
                  <code>                                   
                     xxx                                    
                  </code>
               </pre>
            </div>
          </div>
          <!-- encoding -->

          <!--  -->
          <p class="form__description">
            ps. Что такое
            <a target="_blank" rel="noopener" href="#" class="form__link"
              >xxxx</a
            >
          </p>
          <p class="form__description">
            ps. Что такое
            <a target="_blank" rel="noopener" href="#" class="form__link">
              xxxx</a
            >
          </p>
          <p class="form__description">
            ps. Что такое
            <a target="_blank" rel="noopener" href="#" class="form__link">
              xxxx</a
            >
          </p>
          <p class="form__description">
            ps. Другая
            <a target="_blank" rel="noopener" href="#" class="form__link">
              xxxxx</a
            >
          </p>

          <!-- rh-checkbox -->
        </section>
        <!--  -->
      </article>

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->
    </main>
    <!-- main -->

    <!-- menu -->
    <nav class="menu">
      <!-- transform-list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/transformations.html">
          Двумерные трансформации</a
        >
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#transformations"
              >Трансформация элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate-x"
              >Сдвиг по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate-y"
              >Сдвиг по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate"
              >Сдвиг по горизонтали и вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale"
              >Изменение масштаба элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale-x"
              >Изменение масштаба по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale-y"
              >Изменение масштаба по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#rotate"
              >Поворот элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#skew-x"
              >Наклон элемента по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#skew-y"
              >Наклон элемента по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#transform-origin"
              >Координаты трансформации элемента.</a
            >
          </li>
        </div>
      </ul>
      <!-- transform-list -->

      <!-- transitions_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/transitions.html">
          Плавные переходы
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition"
              >Универсальное свойство</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-duration"
              >Длительность перехода</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-property"
              >Какие свойства плавно изменять</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-delay"
              >Задержка перехода
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-timing-function"
              >Скорость и ускорение переходов
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#example"
              >примеры timing-function переходов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#graphics-transition"
              >Графики переходов</a
            >
          </li>
        </div>
      </ul>
      <!-- transitions_list -->

      <!-- gradient_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/linearGradient.html">
          Линейный градиент</a
        >
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#linear-gradient"
              >Линейный градиент</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#examples"
              >Примеры прямых и диогональных переходов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#angled-gradients"
              >Градиенты под углом</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#sample-flower"
              >Градиенты под углом, пример:</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#sample"
              >Множество градиентов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#color-stop"
            >
              Пропорции цветов и колорстопы</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#color-stop-sample"
              >Примеры колор стопов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#repeating-gradient"
            >
              Повторяющийся линейный градиент</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#stylish-buttons"
              >Стильные кнопки</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#footer"
              >Рекомендации</a
            >
          </li>
        </div>
      </ul>
      <!-- gradient_list -->

      <!-- stuff_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/coolStuff.html">Крутые вещи</a>

        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#custom-shadows"
              >Нестандартные тени</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#hover-active"
            >
              Эффекты при наведении на кнопки</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#active-gallery"
            >
              Эффекты при наведении на галерею</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#stack-cards"
              >Стопка" карт</a
            >
          </li>
        </div>
      </ul>
      <!-- stuff_list -->

      <!-- forms_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/forms.html"> Формы form </a>
        <div class="menu__content">
          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#inputs">
              Ввод "input"</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#type-text">
              Поля inputs
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#button"
              >Кнопки button
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#checkbox">
              checkbox</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#slider"
              >Ползунки slider</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#radiobutton"
              >Переключатели radiobutton</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#multicolor-switch"
              >multicolor-switch Тройной переключатель
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#triple-switch"
              >triple-switch Тройной переключатель</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#secondary-radio"
              >secondary-radio Двойной переключатель</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#twin-switch "
              >twin-switch Универсальный переключатель</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#drop-down">
              Выпадающий или раскрывающийся список</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#teg-select"
              >Тег select, поле выбора
            </a>
          </li>
        </div>
      </ul>
      <!-- forms_list -->

      <!-- position-ratio_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/positionAspectRatio.html">
          Работа с изображениями</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#centering"
            >
              Центрирование centering</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#aspect-ratio"
            >
              Свойство CSS aspect-ratio: X / Y
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#factoring-width"
            >
              Факторинг в min-*и max-*</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#aspect-ratio-example"
            >
              Примеры работы свойства aspect-ratio:</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#position"
            >
              Позиционирование элемента</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#position__absolute"
            >
              Позиционирование absolute подробнее.</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#height-absolute"
            >
              Высота для position: absolute;</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#relative-absolute"
            >
              Позиционирование и aspect-ratio: X / Y;</a
            >
          </li>
        </div>
      </ul>
      <!-- position-ratio_list -->

      <!-- utility_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/utility.html">
          Полезная информация</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#my-tabs">
              Мои вкладки</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#html5book.ru"
            >
              HTML5BOOK.ru теория html, css, js</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#HTML5CSS.ru"
            >
              HTML5CSS.ru Как сделать?</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#WebReference"
            >
              Мощный учебник WebReference</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#css-tricks "
            >
              Учебник css-tricks и Aspect Ratio
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#Git">
              Ресурсы для изучения Git</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#ru.bem">
              Методология БЭМ
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#first-child"
            >
              Структурные псевдоклассы</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#after">
              ::after и ::before</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#form__link"
            >
              Как сделать гиперссылки на сайте</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#svoystva-teksta"
            >
              Свойства шрифта, текста</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#Select-Option"
            >
              Стилизация Select-Option</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#user-select"
            >
              user-select</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#webfanat"
            >
              Блог веб разработки webfanat</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>
        </div>
      </ul>
      <!-- utility_list -->

      <!-- shadow_list -->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/boxShadow.html">
          Тени box-shadow
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/boxShadow.html#box-shadow"
            >
              Тени box-shadow</a
            >
          </li>
        </div>
      </ul>
      <!-- shadow_list -->

      <!-- javaScriptBasics Основы JavaScript-->
      <ul class="menu__list">
        <a class="menu__link" href="../templates/javaScriptBasics.html">
          Основы JavaScript
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#teg-script"
            >
              Подключение JavaScript, тег: &lt;script&gt;</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#peremennay"
            >
              Переменная</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#tip-dannih"
            >
              Типы данных</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#alert-prompt-confirm"
            >
              Взаимодействие: alert, prompt, confirm</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#preobrazovanie-tipov"
            >
              Преобразование типов</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#operatori-bazic"
            >
              Базовые операторы, математика</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptBasics.html#operatori-sravneniy"
            >
              Операторы сравнения</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/javaScriptIfElse.html#uslovnoe-vetvlenie-if-?"
            >
              Условное ветвление: if, '?'</a
            >
          </li>
        </div>
      </ul>
      <!-- javaScriptBasics Основы JavaScript-->
    </nav>
    <!-- menu -->

    <!-- header  -->
    <header class="header"></header>
    <!-- header  -->
  </body>
</html>
