<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalMenu.css" />
    <link rel="stylesheet" href="../styles/css/positionAspectRatio.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- main -->
    <main class="main">
      <article class="article">
        <h1 class="form__heading">
          Работа с изображениями: адоптация, центрирование,
          <a
            class="form__link"
            target="_blank"
            rel="noopener"
            href="http://htmlbook.ru/css/position"
            >позиционирование,</a
          >
          свойство CSS
          <a
            class="form__link"
            target="_blank"
            rel="noopener"
            href="https://css-tricks.com/aspect-ratio-boxes/"
          >
            aspect-ratio: X / Y.</a
          >
        </h1>

        <!-- centering  -->
        <section class="centering">
          <h1 id="centering" class="form__heading">Центрирование centering</h1>
          <p class="form__description">
            Рассмотрим центрирование изображений (блоков) точно по центру экрана
            как по вертикали, так и по горизонтали. При адаптации веб-страниц
            размеры блоков изменяются, возникают проблемы с центрированием. С
            помощью трансформаций можно решать эти проблемы и центровать блоки с
            переменными размерами. Делается это с помощью <b> translate</b>.
          </p>

          <p class="form__subheading">
            Для <b>img</b> и позиции <b>position: fixed;</b>
          </p>
          <p class="form__description">
            <b> position: fixed; </b> фиксируем на экране
          </p>
          <p class="form__description">
            <b> opacity: 0.5; </b> выбираем и задаём коэфициент прозрачности
          </p>
          <p class="form__description">
            <b> width: 25%; </b> задаём необходимую нам ширину фиксируемой
            картинки
          </p>
          <p class="form__description">
            <b> height </b> для <b>img</b> нет необходимости задавать высоту,
            она определяется самостоятельно, пропорционально ширине. Если задать
            высоту, то катринка сломается.
          </p>
          <p class="form__description">
            <b> top: 50%; </b> позиционирование от верха вниз 50% от высоты
            экрана
          </p>
          <p class="form__description">
            <b> left: 50%; </b> позиционирование слева направо 50% от ширины
            экрана
          </p>
          <p class="form__description">
            <b> transform: translate(-50%, -50%); </b> transform: translate;
            базируется на размер элемента, так что сконцентрируется красиво.
          </p>

          <p class="form__subheading">
            Центрирование изображений (логотипов и тд) точно по центру блоков, в
            которые встраивается картинка.
          </p>
          <p class="form__description">
            <b> position: relative; </b> <br />
            <b> top: 50%; </b> <br />
            <b> left: 50%; </b> <br />
            <b> width: 50%; </b> <br />
            <b> height: 50%;</b> <br />
            <b> transform: translateX(-50%) translateY(-50%);</b> <br />
            <b> opacity: 0.5;</b>
          </p>

          <div class="centering__block-image">
            <img
              class="centering__image-centering"
              src="../assets/images/doctrineForm/handPhone.jpg"
              alt=""
            />
            <p class="form__description">
              Блоку родителю необходимо задать ширину в процентах и высоту,
              пропорционально больше высоты потомка (в данном случае в 2 раза).
            </p>
          </div>
        </section>
        <!-- centering  -->

        <!-- aspect-ratio -->
        <section id="aspect-ratio" class="aspect-ratio">
          <h1 id="aspect-ratio" class="form__heading">
            Свойство CSS aspect-ratio: X / Y
            <span class="form__heading_span">соотношение сторон</span>
          </h1>
          <p class="form__subheading">Синтакс</p>
          <p class="form__syntax">aspect-ratio: X / Y;</p>
          <p class="form__syntax">aspect-ratio: none;</p>
          <p class="form__description"></p>
          <p class="form__description">
            Где <b>X</b> - размер по горизонтали, <b>Y</b> - размер по
            вертикали. Задаются в процентах, в абослютной пропорции. <br />
          </p>
          <p class="form__description">
            <b>Правильно</b> <br />
            aspect-ratio: 100% / 50%; <br />
            aspect-ratio: 16 / 9; <br />
            aspect-ratio: 1440 / 823;
          </p>
          <p class="form__description">
            <b>Неправильно</b> <br />
            <em>
              aspect-ratio: 455px / 221px; <br />
              aspect-ratio: 5em / 3em; <br />
              aspect-ratio: 5rem / 3rem;
            </em>
          </p>
          <p class="form__description">
            <em>
              В пикселях, в других единицах измерений задавать нельзя - не будет
              работать.</em
            >
          </p>
          <p class="form__description">
            Если элемент имеет либо высоту, либо ширину, то неизвестная сторона
            рассчитывается исходя из соотношения сторон.
          </p>
          <p class="form__description">
            Таким образом, <b> aspect-ratio</b> — это в основном способ
            установить другую сторону, когда у вас есть только одна.
          </p>

          <p class="form__description">
            Если элемент имеет как высоту, так и ширину, <b> aspect-ratio</b>
            игнорируются. Сочетание явной высоты и ширины «сильнее», чем
            соотношение сторон. Если не учесть этот момент, будут возникать
            ошибки.
          </p>
          <p class="form__description">
            При адаптации случается, что в определённые моменты необходимо
            задать фиксированный размер адаптирующего элемента: ширину или
            высоту. В этом случае необходимо, на этот момент, отменить свойство
            aspect-ratio: <b> aspect-ratio: none;</b>
          </p>

          <h1 id="factoring-width" class="form__heading">
            Факторинг в min-*и max-*
          </h1>
          <p class="form__description">
            Всегда существуют пересечение между width, min-width и max-width
            (или версия height). Одно из них всегда «выигрывает». Как правило,
            это довольно интуитивно понятно.
          </p>
          <p class="form__description">
            Если вы установите width: 100px; и min-width: 200px; то min-width
            будет иметь приоритет. Итак, min-width либо игнорируется, потому что
            у вас большее значение, либо имеет приоритет. То же самое касается
            max-width: если вы установите, width: 100px; а max-width: 50px; то
            max-width имеет приоритет. Итак, max-width либо игнорируется, потому
            что у вас уже меньшее значение, либо имеет приоритет.
          </p>

          <p class="form__description">
            Похоже, что здесь действует общая интуитивность: свойства min-* и
            max-* либо имеют приоритет, либо не оказывают влияния на макет. И
            если они имеют приоритет, они сломают aspect-ratio.
          </p>
          <p class="form__description">
            .el { <br />
            aspect-ratio: 1 / 4; <br />
            height: 500px; <br />
            <br />
            /* Игнорируется, потому что width вычисляется в 125px */ <br />
            /* min-width: 100px; */ <br />
            <br />
            /* Соотношение сторон становится 1 / 2 */ <br />
            /* min-width: 250px; */ <br />
            }
          </p>
          <p class="aspect-ratio__subheading h2-font">Со значениями функций</p>
          <p class="form__description">
            Соотношения сторон всегда наиболее полезны в нестабильных ситуациях
            или в случае, когда вы заранее не знаете одного из размеров. Но даже
            когда вы не знаете это точно, вам часто нужно задать определенные
            ограничения. <br />
            Скажем, 50% — это круто, но вы хотите, чтобы значение не уменьшилось
            ниже 200 пикселей. Вы можете сделать ширину: max(50%, 200px);. Или
            задать максимальное и минимальное ограничения clamp(200px, 50%,
            400px);.
          </p>
          <p class="form__description">Кажется, это работает интуитивно:</p>
          <p class="form__description">
            .el { <br />
            aspect-ratio: 4 / 3; <br />
            width: clamp(200px, 50%, 400px); <br />
            }
          </p>
          <p class="form__description">
            Но скажете, что у вас есть размер 200px, а затем вы применили
            min-width в 300px? min-width имеет приоритет. Это по-прежнему
            интуитивно понятно, но из-за того, что в расчеты могут быть
            вовлечены многие свойства, функции и значения, все становится
            сложным.
          </p>
          <p class="form__description">
            Может быть, полезно представлять aspect-ratio, как самый низко
            приоритетный способ определения размера элемента?
          </p>
          <p class="form__description">
            Он никогда не переопределит какую-либо другую информацию о размерах,
            но он всегда будет задавать ее размеры, если для этого измерения нет
            другой доступной информации.
          </p>
          <h1 id="aspect-ratio-example" class="form__heading">
            Примеры работы свойства aspect-ratio: 282/216 с блоками и
            изображениями.
          </h1>
          <p class="form__description">
            В примере ниже, пустым (без содержания) врапперам задано свойство
            <b>aspect-ratio: 282/216;</b> . И, как видим, соотношение 282/216
            выдерживается.
          </p>
          <!-- aspect-ratio пример -->
          <div class="aspect-ratio__row row">
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper"></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper"></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper"></div>
            </div>
          </div>
          <!-- aspect-ratio пример -->

          <!-- encoding -->
          <div>
            <div class="encoding">
              <p class="encoding__prompt">HTML</p>
              <pre class="encoding__code-box">
              <code class="encoding__code-font">                                   
                &lt;div class="aspect-ratio__row row"&gt;
                  &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                    &lt;div class="aspect-ratio__wrapper"&gt;&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                    &lt;div class="aspect-ratio__wrapper"&gt;&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                    &lt;div class="aspect-ratio__wrapper"&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;                                    
              </code>
              </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">
                generalMenu.scss
              </p>
              <pre class="encoding__code-box">
                  <code>                                   
                    &__row {
                      display: flex;
                      justify-content: space-between;
                      flex-wrap: wrap;
                      margin-bottom: 36px;
                    }                                    
                  </code>
                </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_third">
                positionAspectRatio.scss
              </p>
              <pre class="encoding__code-box">
                <code>                                   
                  .aspect-ratio {
                    width: 100%;
                    background-color: #fff;
                    margin-bottom: 72px;
                  
                    &__row {
                      margin-bottom: 36px;
                    }
                  
                    &__column {
                      margin-bottom: 24px;
                    }
                  
                    &__wrapper {
                      aspect-ratio: 282/216;
                      background-color: gray;
                      background-size: cover;
                      background-position: center center;                                      
                    }                                      
                  }                                    
                </code>
              </pre>
            </div>
          </div>
          <!-- encoding -->
          <p class="form__description">
            В следующем примере враппер загружаем картинкой, через
            <b>background-image: url();</b>. <br />
            Врапперу высоту не задаём, у него есть только родительская ширина
            блока column, за минусом боковых паддингов. Так же, врапперам задано
            свойство
            <b>aspect-ratio: 282/216;</b>. Свойство прекрасно работает,
            соотношение сторон выдерживается, картинка не ломается.
          </p>
          <!-- aspect-ratio пример -->
          <div class="aspect-ratio__row row">
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div
                class="aspect-ratio__wrapper"
                style="
                  background-image: url(../assets/images/doctrineForm/man.jpg);
                "
              ></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div
                class="aspect-ratio__wrapper"
                style="
                  background-image: url(../assets/images/doctrineForm/child.jpg);
                "
              ></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div
                class="aspect-ratio__wrapper"
                style="
                  background-image: url(../assets/images/doctrineForm/doctor.jpg);
                "
              ></div>
            </div>
          </div>
          <!-- aspect-ratio пример -->

          <!-- encoding -->
          <div>
            <div class="encoding">
              <p class="encoding__prompt">HTML</p>
              <pre class="encoding__code-box">
                <code class="encoding__code-font">                                   
                  &lt;div class="aspect-ratio__row row"&gt;
                    &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                      &lt;div
                            class="aspect-ratio__wrapper"
                            style="
                              background-image: url(../assets/images/doctrineForm/man.jpg);
                            "
                      &gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                      &lt;div
                            class="aspect-ratio__wrapper"
                            style="
                              background-image: url(../assets/images/doctrineForm/child.jpg);
                            "
                      &gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                      &lt;div
                            class="aspect-ratio__wrapper"
                            style="
                              background-image: url(../assets/images/doctrineForm/doctor.jpg);
                            "
                      &gt;&lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;                                   
                </code>
              </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">
                generalMenu.scss
              </p>
              <pre class="encoding__code-box">
                    <code>                                   
                      &__row {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-bottom: 36px;
                      }                                   
                    </code>
                 </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt"></p>
              <p class="encoding__prompt encoding__prompt_third">
                positionAspectRatio.scss
              </p>
              <pre class="encoding__code-box">
                    <code>                                   
                      .aspect-ratio {
                        width: 100%;
                        background-color: #fff;
                        margin-bottom: 72px;
                      
                        &__row {
                          margin-bottom: 36px;
                        }
                      
                        &__column {
                          margin-bottom: 24px;
                        }
                      
                        &__wrapper {
                          aspect-ratio: 282/216;
                          background-color: gray;
                          background-size: cover;
                          background-position: center center;
                        }
                      }                                   
                    </code>
                 </pre>
            </div>
          </div>
          <!-- encoding -->

          <p class="form__description">
            В следующем примере, во враппер загрузим картинку через <b>img</b>.
            <br />
            Врапперу пришлось отменить свойство aspect-ratio: <b>none</b>;
            <br />
            Это свойство, aspect-ratio: 282/216; задаём тегу <b>img</b>. <br />
            Что видим? Всё работает как надо. Только, внизу у картинок
            проглядывет полоска <b> background-color: gray;</b>, заданная
            врапперу, которая легко убирается.
          </p>
          <!-- aspect-ratio пример -->
          <div class="aspect-ratio__row row">
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper aspect-ratio__wrapper_wrapper">
                <img
                  class="aspect-ratio__picture"
                  src="../assets/images/doctrineForm/doctor.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper aspect-ratio__wrapper_wrapper">
                <img
                  class="aspect-ratio__picture"
                  src="../assets/images/doctrineForm/child.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper aspect-ratio__wrapper_wrapper">
                <img
                  class="aspect-ratio__picture"
                  src="../assets/images/doctrineForm/man.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <!-- aspect-ratio пример -->

          <!-- encoding -->
          <div>
            <div class="encoding">
              <p class="encoding__prompt">HTML</p>
              <pre class="encoding__code-box">
                    <code class="encoding__code-font">                                   
                      &lt;div class="aspect-ratio__row row"&gt;
                        &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                          &lt;div class="aspect-ratio__wrapper aspect-ratio__wrapper_wrapper"&gt;
                            &lt;img
                              class="aspect-ratio__picture"
                              src="../assets/images/doctrineForm/doctor.jpg"
                              alt=""
                            /&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                          &lt;div class="aspect-ratio__wrapper aspect-ratio__wrapper_wrapper"&gt;
                            &lt;img
                              class="aspect-ratio__picture"
                              src="../assets/images/doctrineForm/child.jpg"
                              alt=""
                            /&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="aspect-ratio__column col-12 col-sm-4"&gt;
                          &lt;div class="aspect-ratio__wrapper aspect-ratio__wrapper_wrapper"&gt;
                            &lt;img
                              class="aspect-ratio__picture"
                              src="../assets/images/doctrineForm/man.jpg"
                              alt=""
                            /&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;                                   
                    </code>
                 </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">
                generalMenu.scss
              </p>
              <pre class="encoding__code-box">
                    <code>                                   
                      &__row {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-bottom: 36px;
                      }                                   
                    </code>
                 </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt"></p>
              <p class="encoding__prompt encoding__prompt_third">
                positionAspectRatio.scss
              </p>
              <pre class="encoding__code-box">
                    <code>                                   
                      .aspect-ratio {
                        width: 100%;
                        background-color: #fff;
                        margin-bottom: 72px;
                      
                        &__row {
                          margin-bottom: 36px;
                        }
                      
                        &__column {
                          margin-bottom: 24px;
                        }
                      
                        &__wrapper {
                          aspect-ratio: 282/216;
                          background-color: gray;
                          background-size: cover;
                          background-position: center center;
                      
                          &_wrapper {
                            aspect-ratio: none;
                          }
                        }
                      
                        &__picture {
                          width: 100%;
                          aspect-ratio: 282/216;
                        }
                      }                                 
                    </code>
                 </pre>
            </div>
          </div>
          <!-- encoding -->
        </section>
        <!-- aspect-ratio -->

        <!-- position -->
        <section id="position" class="position">
          <h1 class="position__heading">
            <a
              class="form__link"
              target="_blank"
              rel="noopener"
              href="http://htmlbook.ru/css/position"
              >Позиционирование
            </a>
            элемента
          </h1>
          <p class="form__description">
            Устанавливает способ позиционирования элемента относительно окна
            браузера или других объектов на веб-странице.
          </p>
          <p class="form__syntax">
            position: absolute | fixed | relative | static | inherit
          </p>
          <p class="form__description">
            Из учебника понятно: <b>fixed</b> куда поставишь на экране, там он и
            будет висеть постоянно;
          </p>
          <p class="form__description">
            <b>relative</b> устанавливает положение элемента
            <b>относительно его исходного места</b>. Добавление свойств left,
            top, right и bottom изменяет позицию элемента и сдвигает его в ту
            или иную сторону от первоначального расположения.
          </p>
          <h1 id="position__absolute" class="form__heading">
            <b>Позиционирование absolute</b>

            необходимо разобрать подробнее.
          </h1>
          <p class="form__description">
            В учебнике пишут: что, если элемент абсолютно спозиционирован, то
            другие элементы отображаются на веб-странице так, словно абсолютно
            позиционированного элемента нет. <br />

            На положение абсолютно спозиционированного элемента, влияет значение
            свойства position родительского элемента. Так, если у родителя
            значение position установлено как static или родителя нет, то отсчет
            координат ведется от края окна браузера. Если у родителя значение
            position задано как fixed, relative или absolute, то отсчет
            координат ведется от края родительского элемента.
          </p>

          <h2 class="form__subheading">Главное из вышесказанного:</h2>

          <p class="form__description">
            Нулевая точка отсчёта, начальные координаты положения абсолютно
            спозиционированного элемента задаются родителем, у которого есть
            свойство <b>position</b> со значениями <b>fixed</b>,
            <b>relative</b> или <b>absolute</b>. Абсолютно спозиционированный
            элемент изначально занимает место в верхнем левом углу
            спозиционированного родителя.
            <br />
            Если у родителей нет свойства <b>position</b> с указанными
            значениями, то началом координат положения является верхний левый
            угол страницы браузера (body). Искать элемент придётся там, если ему
            заданы размеры абсолютно в пикселях и других абсолютных еденицах
            измерения. Можно и не найти, если размеры заданы относительно
            свойством aspect-ratio: X / Y; и для него нет свободного места.
          </p>
          <p class="form__description">
            Второй важный момент: абсолютно позиционированный элемент не
            занимает места в пространстве. Если для этого элемента не отведенно
            место, свободное от других элементов, то он и не появится. Или
            появится частично, насколько позволяет свободное место на странице.
            Может спрятаться под другой элемент, который ниже в HTML.
          </p>
        </section>
        <!-- position -->

        <!-- absolute -->
        <section class="absolute">
          <div class="container">
            <h1 id="height-absolute" class="form__heading">
              Рассчёт высоты абсолютно спозиционированного элемента. <br />
              (Высота для position: absolute;)
            </h1>

            <div class="absolute__range">
              <div class="absolute__column">
                <div>
                  <p class="form__description">
                    Ширина, обычно, задаётся родительским элементом.
                  </p>
                  <p class="form__description">
                    Высоту можно задать соседним элементом (контентом) сбоку,
                    как сейчас.
                  </p>
                  <p class="form__description">
                    Излишняя высота соседа контента ломает связку изображений
                    при адаптации. Измененяется высота контента- изменяется
                    высота блоков, связка ломается.
                  </p>
                  <p class="form__description">
                    Недостаточная высота не даёт место для правильного
                    расположения, как в примере внизу.
                  </p>
                  <p class="form__description">
                    Как только высота свободного места станет раняться нулю, или
                    будет недостаточной, нашим элементам не будет хватать места
                    по высоте в пространстве и они станут выше или ниже оси Х,
                    наедут на другой блог, секцию.
                  </p>
                  <p class="form__description">
                    То есть, очень важно: правильно рассчитать место для
                    абсолютно спозиционированного элемента.
                  </p>
                </div>
              </div>

              <div class="absolute__column">
                <div class="absolute__images">
                  <div
                    style="
                      background-image: url(../assets/images/doctrineForm/womenCall.jpg);
                    "
                    class="absolute__picture"
                  ></div>

                  <div
                    style="
                      background-image: url(../assets/images/doctrineForm/phone.jpg);
                    "
                    class="absolute__picture"
                  ></div>
                </div>
              </div>
            </div>

            <div class="encoding">
              <p class="encoding__prompt">HTML</p>
              <pre class="encoding__code-box">
                  <code class="encoding__code-font">                                   
                    &lt;div class="absolute__images"&gt;
                      &lt;div
                        style="
                          background-image: url(../assets/images/doctrineForm/womenCall.jpg);
                        "
                        class="absolute__picture"
                      &gt;&lt;/div&gt;
    
                      &lt;div
                        style="
                          background-image: url(../assets/images/doctrineForm/phone.jpg);
                        "
                        class="absolute__picture"
                      &gt;&lt;/div&gt;
                    &lt;/div&gt;                                   
                  </code>
               </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">SCSS</p>
              <pre class="encoding__code-box">
                  <code>                                   
                    &__images {
                      width: 100%;
                      position: relative;
                  
                      @media screen and (min-width: 576px) {
                        height: 100%;
                      }
                    }
                  
                    &__picture {
                      width: 100%;
                      height: 262px;
                      background-position: center center;
                      background-size: cover;
                      display: block;
                  
                      @media screen and (min-width: 767px) {
                        width: 61.3%;
                        position: absolute;
                      }
                  
                      &:first-child {
                        margin-bottom: 24px;
                  
                        @media screen and (min-width: 767px) {
                          bottom: 0;
                          left: 0;
                        }
                      }
                  
                      &:nth-child(2) {
                        @media screen and (min-width: 767px) {
                          top: 0;
                          right: 0;
                        }
                      }
                    }                                    
                  </code>
               </pre>
            </div>
          </div>
        </section>
        <!-- absolute -->

        <!-- relative-absolute -->
        <section class="relative-absolute">
          <h1 id="relative-absolute" class="form__heading">
            Позиционирование relative, absolute и aspect-ratio: X / Y;
          </h1>
          <div class="relative-absolute__range">
            <div class="relative-absolute__column">
              <p class="form__description">
                Рассмотрим связку: <br />
                - зададим размеры изображениям соотношением сторон, при помощи
                свойства CSS aspect-ratio: X / Y; <br />
                - одному изображению зададим абсолютное позиционирование,
                другому - относительное: relative.
              </p>
              <p class="form__description">
                Элементу с позиционированием relative укажем внешний верхний
                отступ, такой, какой нам нужен для создания высоты блока,
                необходимой нам. То есть, высота элемента и верхний отступ
                создадут нам определенную высоту блока.
              </p>
              <p class="form__description">Схема работает шикарно.</p>
            </div>

            <div class="relative-absolute__column">
              <div class="relative-absolute__images">
                <div
                  style="
                    background-image: url(../assets/images/doctrineForm/womenCall.jpg);
                  "
                  class="relative-absolute__picture"
                ></div>

                <div
                  style="
                    background-image: url(../assets/images/doctrineForm/phone.jpg);
                  "
                  class="relative-absolute__picture"
                ></div>
              </div>
            </div>
          </div>

          <div class="encoding">
            <p class="encoding__prompt">HTML</p>
            <pre class="encoding__code-box">
                <code class="encoding__code-font">                                   
                  &lt;div class="relative-absolute__images"&gt;
                    &lt;div
                      style="
                        background-image: url(../assets/images/doctrineForm/womenCall.jpg);
                      "
                      class="relative-absolute__picture"
                    &gt;&lt;/div&gt;
    
                    &lt;div
                      style="
                        background-image: url(../assets/images/doctrineForm/phone.jpg);
                      "
                      class="relative-absolute__picture"
                    &gt;&lt;/div&gt;
                  &lt;/div&gt;                                   
                </code>
             </pre>
          </div>

          <div class="encoding">
            <p class="encoding__prompt encoding__prompt_second">SCSS</p>
            <pre class="encoding__code-box">
                <code>                                   
                  &__images {
                    width: 100%;
                    position: relative;
                  }
                
                  &__picture {
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc(50% + 36px);
                    aspect-ratio: 204 / 216;
                
                    &:nth-child(1) {
                      position: relative;
                      bottom: -21px;
                      left: 0;
                      margin-top: 105px;
                    }
                
                    &:nth-child(2) {
                      position: absolute;
                      bottom: 100px;
                      right: 0;
                    }
                  }                                   
                </code>
             </pre>
          </div>

          <div class="relative-absolute__bloc-photo">
            <img
              class="relative-absolute__photo"
              src="../assets/images/aboutUs/aboutСhef.jpg"
              alt=""
            />
            <img
              class="relative-absolute__photo"
              src="../assets/images/aboutUs/aboutMeeting.jpg"
              alt=""
            />
          </div>

          <div class="encoding">
            <p class="encoding__prompt">HTML</p>
            <pre class="encoding__code-box">
                <code class="encoding__code-font">                                   
                  &lt;div class="relative-absolute__bloc-photo"&gt;
                    &lt;img
                      class="relative-absolute__photo"
                      src="../assets/images/aboutUs/aboutСhef.jpg"
                      alt=""
                    /&gt;
                    &lt;img
                      class="relative-absolute__photo"
                      src="../assets/images/aboutUs/aboutMeeting.jpg"
                      alt=""
                    /&gt;
                  &lt;/div&gt;                                   
                </code>
             </pre>
          </div>

          <div class="encoding">
            <p class="encoding__prompt encoding__prompt_second">SCSS</p>
            <pre class="encoding__code-box">
                <code>                                   
                  &__bloc-photo {
                    width: 100%;
                    margin-bottom: 48px;
                    position: relative;
                  }
                
                  &__photo {
                    aspect-ratio: 468 / 344;
                    width: 100%;
                
                    @media screen and (min-width: 576px) {
                      max-width: calc(50% + 56px);
                    }
                
                    &:first-child {
                      position: static;
                      margin-bottom: 24px;
                
                      @media screen and (min-width: 576px) {
                        position: relative;
                        margin-top: 72px;
                        bottom: 0;
                        left: 0;
                      }
                    }
                
                    &:last-child {
                      position: static;
                
                      @media screen and (min-width: 576px) {
                        position: absolute;
                        top: 0;
                        right: 0;
                      }
                    }
                  }                                   
                </code>
             </pre>
          </div>
        </section>
        <!-- relative-absolute -->
      </article>

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>

          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->
    </main>
    <!-- main -->

    <!-- menu -->
    <nav class="menu">
      <!-- transform-list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/transformations.html">
          Двумерные трансформации</a
        >
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#transformations"
              >Трансформация элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate-x"
              >Сдвиг по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate-y"
              >Сдвиг по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate"
              >Сдвиг по горизонтали и вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale"
              >Изменение масштаба элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale-x"
              >Изменение масштаба по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale-y"
              >Изменение масштаба по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#rotate"
              >Поворот элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#skew-x"
              >Наклон элемента по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#skew-y"
              >Наклон элемента по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#transform-origin"
              >Координаты трансформации элемента.</a
            >
          </li>
        </div>
      </ul>
      <!-- transform-list -->

      <!-- transitions_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/transitions.html">
          Плавные переходы
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition"
              >Универсальное свойство</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-duration"
              >Длительность перехода</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-property"
              >Какие свойства плавно изменять</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-delay"
              >Задержка перехода
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-timing-function"
              >Скорость и ускорение переходов
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#example"
              >примеры timing-function переходов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#graphics-transition"
              >Графики переходов</a
            >
          </li>
        </div>
      </ul>
      <!-- transitions_list -->

      <!-- gradient_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/linearGradient.html">
          Линейный градиент</a
        >
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#linear-gradient"
              >Линейный градиент</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#examples"
              >Примеры прямых и диогональных переходов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#angled-gradients"
              >Градиенты под углом</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#sample-flower"
              >Градиенты под углом, пример:</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#sample"
              >Множество градиентов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#color-stop"
            >
              Пропорции цветов и колорстопы</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#color-stop-sample"
              >Примеры колор стопов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#repeating-gradient"
            >
              Повторяющийся линейный градиент</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#stylish-buttons"
              >Стильные кнопки</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#footer"
              >Рекомендации</a
            >
          </li>
        </div>
      </ul>
      <!-- gradient_list -->

      <!-- stuff_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/coolStuff.html"
          >Крутые вещи</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#custom-shadows"
              >Нестандартные тени</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#hover-active"
            >
              Эффекты при наведении на кнопки</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#active-gallery"
            >
              Эффекты при наведении на галерею</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#stack-cards"
              >Стопка" карт</a
            >
          </li>
        </div>
      </ul>
      <!-- stuff_list -->

      <!-- forms_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/forms.html">
          Формы form
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#inputs">
              Ввод "input"</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#type-text">
              Поля inputs
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#button"
              >Кнопки button
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#checkbox">
              checkbox</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#slider"
              >Ползунки slider</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#radiobutton"
              >Переключатели radiobutton</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#multicolor-switch"
              >multicolor-switch Тройной переключатель
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#triple-switch"
              >triple-switch Тройной переключатель</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#secondary-radio"
              >secondary-radio Двойной переключатель</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#twin-switch "
              >twin-switch Универсальный переключатель</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#drop-down">
              Выпадающий или раскрывающийся список</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#teg-select"
              >Тег select, поле выбора
            </a>
          </li>
        </div>
      </ul>
      <!-- forms_list -->

      <!-- position-ratio_list -->
      <ul class="menu__list">
        <a
          class="menu__link h2-font"
          href="../templates/positionAspectRatio.html"
        >
          Работа с изображениями</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#centering"
            >
              Центрирование centering</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#aspect-ratio"
            >
              Свойство CSS aspect-ratio: X / Y
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#factoring-width"
            >
              Факторинг в min-*и max-*</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#aspect-ratio-example"
            >
              Примеры работы свойства aspect-ratio:</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#position"
            >
              Позиционирование элемента</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#position__absolute"
            >
              Позиционирование absolute подробнее.</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#height-absolute"
            >
              Высота для position: absolute;</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#relative-absolute"
            >
              Позиционирование и aspect-ratio: X / Y;</a
            >
          </li>
        </div>
      </ul>
      <!-- position-ratio_list -->

      <!-- utility_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/utility.html">
          Полезная информация</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#my-tabs">
              Мои вкладки</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#html5book.ru"
            >
              HTML5BOOK.ru теория html, css, js</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#HTML5CSS.ru"
            >
              HTML5CSS.ru Как сделать?</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#WebReference"
            >
              Мощный учебник WebReference</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#css-tricks "
            >
              Учебник css-tricks и Aspect Ratio
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#Git">
              Ресурсы для изучения Git</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#ru.bem">
              Методология БЭМ
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#first-child"
            >
              Структурные псевдоклассы</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#after">
              ::after и ::before</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#form__link"
            >
              Как сделать гиперссылки на сайте</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#svoystva-teksta"
            >
              Свойства шрифта, текста</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#Select-Option"
            >
              Стилизация Select-Option</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#user-select"
            >
              user-select</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#webfanat"
            >
              Блог веб разработки webfanat</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>
        </div>
      </ul>
      <!-- utility_list -->

      <!-- shadow_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/boxShadow.html">
          Тени box-shadow
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/boxShadow.html#box-shadow"
            >
              Тени box-shadow</a
            >
          </li>
        </div>
      </ul>
      <!-- shadow_list -->
    </nav>
    <!-- menu -->

    <!-- header -->
    <header class="header"></header>
    <!-- header -->
  </body>
</html>
