<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/generalMenu.css" />
    <link rel="stylesheet" href="../styles/css/transitions.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- main -->
    <main class="main">
      <article class="article">
        <!-- transition Универсальное свойство -->
        <section class="form">
          <h1 id="transition" class="form__heading">
            Плавные переходы
            <span class="form__heading_span">
              <a
                class="form__link"
                target="_blank"
                rel="noopener"
                href="http://htmlbook.ru/css/transition"
              >
                свойство transition</a
              >
            </span>
          </h1>
          <h2 class="form__subheading">Описание</h2>
          <p class="form__description">
            Универсальное свойство, которое позволяет одновременно задать
            значения <b>transition-property</b>, <b>transition-duration</b>,
            <b>transition-timing-function</b> и <b>transition-delay</b>.
            Устанавливает эффект перехода между двумя состояниями элемента, они
            могут быть определены с помощью псевдоэлемента <b>:hover</b> или
            <b>:active</b>, а также динамически через <b>JavaScript</b>.
          </p>
          <h2 class="form__subheading">Применяется</h2>
          <p class="form__description">
            Ко всем элементам, к псевдоэлементам <b> ::before</b> и
            <b>::after</b>
          </p>
          <h2 class="form__subheading">Синтаксис</h2>
          <p class="form__syntax">transition: | переход [, переход ]*</p>
          <p class="form__description">Здесь:</p>
          <p class="form__syntax">
            | переход = [ none | transition-property ] || transition-duration ||
            transition-timing-function || transition-delay |
          </p>

          <h2 class="form__subheading">Значения</h2>
          <p class="form__description">
            <b>none </b> Отменяет эффект перехода.
          </p>
        </section>
        <!-- transition Универсальное свойство -->

        <!-- transition-duration Длительность перехода -->
        <section class="form">
          <div class="form__bloc-info">
            <h1 id="transition-duration" class="form__heading">
              transition-duration
              <span class="form__heading_span"> Длительность перехода </span>
            </h1>
            <p class="form__description">
              Задаёт время в секундах или миллисекундах, сколько должна длиться
              анимация перехода до её завершения. По умолчанию значение равно
              0s, это означает, что никакой анимации нет, переход происходит
              мгновенно
            </p>
            <p class="form__description">
              Можно указать несколько значений, перечисляя их через запятую.
              Каждое значение применяется к свойствам, заданным через
              transition-property.
            </p>
            <p class="form__syntax">
              Синтаксис: <br />
              transition-duration: <время> [,<время>]*
            </p>
            <p class="form__description">
              <b>Значения:</b> Задаёт время в секундах или миллисекундах.
              Значение состоит из целого или дробного числа, за которым сразу же
              следует символ s для секунд или ms для миллисекунд. Пробел после
              числа недопустим. Для преобразования единиц помните, что 1s =
              1000ms.
            </p>
            <p class="form__description">
              При нулевом значении единица времени не опускается и также должна
              быть добавлена. Всегда пишите 0s или 0ms вместо простого 0.
            </p>
            <p class="form__description">
              Плавные переходы в CSS или transitions позволяют изменять значения
              свойств постепенно, «с нежностью».
            </p>
            <p class="form__description">
              Эффекты перехода между двумя состояниями элемента определяются с
              помощью псевдоэлемента :hover или :active, а также динамически
              через JavaScript.
            </p>
            <p class="form__description">
              Обычно эффект от изменения значений CSS-свойств виден мгновенно,
              но с помощью плавных переходов можно изменить это поведение и
              сделать процесс изменения значений достаточно длительным.
            </p>
            <p class="form__description">
              В отличие от анимаций, которые позволяют управлять любым
              количеством промежуточных состояний, с помощью transitions можно
              управлять только переходом между двумя состояниями: начальным и
              конечным.
            </p>
            <p class="form__description">
              Чтобы обозначить плавный переход в CSS, достаточно задать одно
              свойство: transition-duration — длительность перехода. Значения
              задаются в секундах (10s, 3s), долях секунды (0.1s, 0.03s) или
              миллисекундах (100ms, 333ms).
            </p>

            <p class="form__description">
              Рассмотрим плавный переход на простом примере с кнопкой, у
              которой, при наведении на неё мышки, меняется цвет.
            </p>
            <p class="form__code-font">
              <b>
                &:hover { <br />
                transition-duration: 1s; <br />
                background-color: #ff5252; <br />
                }
              </b>
            </p>
            <div class="form__container-image">
              <div class="example-button">
                <button
                  class="example-button__item example-button__item_primary"
                  type="button"
                >
                  <img
                    class="example-button__image example-button__image"
                    src="../assets/icons/aPlus.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>

            <div class="encoding">
              <p class="encoding__prompt">HTML</p>
              <pre class="encoding__code-box">
                  <code class="encoding__code-font">                                   
                    &lt;div class="example-button"&gt;
                      &lt;button
                          class="example-button__item example-button__item_primary"
                          type="button"
                        &gt;
                        &lt;img
                          class="example-button__image example-button__image"
                          src="../assets/icons/aPlus.svg"
                          alt=""
                        /&gt;
                      &lt;/button&gt;
                    &lt;/div&gt;                                   
                  </code>
               </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">SCSS</p>
              <pre class="encoding__code-box">
                  <code>                                   
                    .example-button {
                      &__item {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 1px solid gray;
                        box-sizing: border-box;
                        background-color: #ffffff;
                        // overflow: hidden;
                        overflow: visible;
                        display: flex;
                    
                        &_primary {
                          position: relative;
                    
                          &:hover {
                            transition-duration: 1s;
                            background-color: #ff5252;
                          }
                        }
                      }  
                    
                      &__image {
                        width: 48px;
                        height: 48px;
                        margin: auto;
                        position: absolute;
                        top: 4.5px;
                        left: 4.5px;                                         
                      }
                    }                                   
                  </code>
               </pre>
            </div>
          </div>
          <div class="form__bloc-info">
            <h1 class="form__heading">
              transition-duration
              <span class="form__heading_span">
                Длительность перехода, шаг 2</span
              >
            </h1>
            <p class="form__description">
              Плавные переходы и анимацию можно применить только к некоторым
              CSS-свойствам. В основном это свойства, изменяющие размер, цвет,
              позицию элементов. В
              <a
                class="form__link"
                target="_blank"
                rel="noopener"
                href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties"
                >статье на MDN
              </a>
              приведён перечень анимируемых свойств и характер их анимирования.
            </p>
            <p class="form__description">
              Если задана только длительность перехода transition-duration, то
              по умолчанию плавное изменение затрагивает все свойства элемента и
              для всех свойств происходит одновременно.
            </p>
            <p class="form__description">
              Попробуем задать кнопке ещё несколько свойств и посмотрим, как они
              будут изменяться.
            </p>
            <p class="form__code-font">
              <b>
                &:hover { <br />
                transition-duration: 200ms; <br />
                background-color: #ff5252; <br />
                color: #ffffff; <br />
                } <br />
                <br />
                &:hover .example-button__image:nth-child(2){ <br />
                transition-duration: 200ms; <br />
                opacity: 1; <br />
                transform: rotate(45deg); <br />
                } <br />
                <br />
                &:hover .example-button__image:nth-child(1){ <br />
                transition-duration: 200ms; <br />
                transform: scale(10); <br />
                opacity: 0; <br />
                }
              </b>
            </p>
            <div class="form__container-image">
              <div class="example-button">
                <button
                  class="example-button__item example-button__item_secondary"
                  type="button"
                >
                  <img
                    class="example-button__image example-button__image"
                    src="../assets/icons/aPlus.svg"
                    alt=""
                  />
                  <img
                    class="example-button__image example-button__image"
                    src="../assets/icons/aPlusColor.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>

            <div class="encoding">
              <p class="encoding__prompt">HTML</p>
              <pre class="encoding__code-box">
                  <code class="encoding__code-font">                                   
                    &lt;div class="example-button"&gt;
                      &lt;button
                          class="example-button__item example-button__item_primary"
                          type="button"
                        &gt;
                        &lt;img
                          class="example-button__image example-button__image"
                          src="../assets/icons/aPlus.svg"
                          alt=""
                        /&gt;
                      &lt;/button&gt;
                    &lt;/div&gt;                                   
                  </code>
               </pre>
            </div>

            <div class="encoding">
              <p class="encoding__prompt encoding__prompt_second">SCSS</p>
              <pre class="encoding__code-box">
                  <code>                                   
                    .example-button {
                      &__item {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 1px solid gray;
                        box-sizing: border-box;
                        background-color: #ffffff;
                        // overflow: hidden;
                        overflow: visible;
                        display: flex;
                    
                        &_primary {
                          position: relative;
                    
                          &:hover {
                            transition-duration: 1s;
                            background-color: #ff5252;
                          }
                        }

                        &_secondary {
                          position: relative;
                    
                          &:hover {
                            transition-duration: 200ms;
                            background-color: #ff5252;
                            color: #ffffff;
                          }
                    
                          &:hover .example-button__image:nth-child(2) {
                            transition-duration: 200ms;
                            opacity: 1;
                            transform: rotate(45deg);
                          }
                    
                          &:hover .example-button__image:nth-child(1) {
                            transition-duration: 200ms;
                            transform: scale(10);
                            opacity: 0;
                          }
                        }
                      }  
                    
                      &__image {
                        width: 48px;
                        height: 48px;
                        margin: auto;
                        position: absolute;
                        top: 4.5px;
                        left: 4.5px;       
                        
                        &:nth-child(2) {
                          opacity: 0;
                        }
                      }
                    }                                   
                  </code>
               </pre>
            </div>
            <p class="form__description"></p>
            <p class="form__description"></p>
          </div>
        </section>
        <!-- transition-duration Длительность перехода -->

        <!-- transition-property Устанавливает: какие свойства плавно изменять -->
        <section class="form">
          <h1 id="transition-property" class="form__heading">
            transition-property:
            <span class="form__heading_span">
              Какие свойства плавно изменять.
            </span>
          </h1>
          <p class="form__description">
            Устанавливает имя стилевого свойства, значение которого будет
            отслеживаться для создания эффекта перехода.
          </p>
          <p class="form__syntax">
            Синтаксис: <br />
            transition-property: none | all | <свойство> [,<свойство>]*
          </p>
          <h2 class="form__subheading">Значения</h2>
          <p class="form__description">
            <b>none</b>
            Никакое свойство не задано.
          </p>
          <p class="form__description">
            <b> all </b>
            Все свойства будут отслеживаться.
          </p>
          <p class="form__description">
            <b> <свойство> </b>
            Название стилевого свойства, регистр при его написании не
            учитывается. При указании нескольких свойств они перечисляются друг
            за другом через запятую.
          </p>
          <p class="form__description">
            По умолчанию плавный переход действует на все анимируемые свойства
            элемента. Такое поведение соответствует значению <b>all</b> свойства
            <b>transition-property</b>, это значение по умолчанию.
          </p>
          <p class="form__description">
            Такое поведение часто нежелательно, особенно когда в правиле много
            свойств.
          </p>
          <p class="form__description">
            Можно указать, какие именно свойства нужно изменять плавно,
            перечислив их в <b>transition-property</b> через запятую:
          </p>
          <p class="form__description">
            <b>transition-property: width;</b> // плавно меняется только ширина
            <br />
            <b>transition-property: width, height;</b> // плавно меняются ширина
            и высота
          </p>
          <p class="form__description">
            При этом так же через запятую можно задавать переходам разных
            свойств разную длительность:
          </p>
          <p class="form__description">
            <b>transition-property: width, height;</b> <br />
            <b>transition-duration: 1s, 5s;</b> // ширина меняется за 1 секунду,
            высота за 5.
          </p>
        </section>
        <!-- transition-property Устанавливает: какие свойства плавно изменять -->

        <!-- transition-delay Задержка перехода -->
        <section class="form">
          <h1 id="transition-delay" class="form__heading">
            transition-delay
            <span class="form__heading_span"> Задержка перехода</span>
          </h1>
          <p class="form__description">
            Свойство transition-delay устанавливает время ожидания перед
            запуском эффекта перехода. Значение в секундах 0s или или
            миллисекундах 0ms запускает анимацию сразу же. Отрицательное
            значение также включает анимацию без задержек, но может привести к
            изменению вида начала анимации.
          </p>
          <p class="form__description">
            Допустимо указывать несколько значений, перечисляя их через запятую.
            Каждое значение будет применяться к свойству, заданному в параметрах
            transition-property.
          </p>
          <p class="form__syntax">
            Синтаксис: <br />
            transition-delay: <время> [,<время>]*
          </p>
          <p class="form__description">
            Задаёт время в секундах или миллисекундах. Значение состоит из
            целого или дробного числа, за которым сразу же следует символ s для
            секунд или ms для миллисекунд. Пробел после числа недопустим. Для
            преобразования единиц помните, что <b> 1s = 1000ms.</b>
          </p>
          <p class="form__description">
            При нулевом значении единица времени не опускается и также должна
            быть добавлена. Всегда пишите 0s или 0ms вместо простого 0.
          </p>
          <p class="form__description">
            <b> transition-property: transform;</b> плавный переход для свойства
            transform <br />
            <b>transition-duration: 500ms;</b> длительностью 500ms <br />
            <b>transition-delay: 50ms;</b> задержка перехода 50ms.
          </p>
        </section>
        <!-- transition-delay Задержка перехода -->

        <!-- transition-timing-function «Форма» перехода -->
        <section class="form">
          <h1 id="transition-timing-function" class="form__heading">
            transition-timing-function
            <span class="form__subheading">
              Оно определяет с какой скоростью и ускорением будут меняться
              свойства во время перехода.</span
            >
          </h1>
          <p class="form__description">
            Устанавливает, насколько быстро должно изменяться значение стилевого
            свойство для которого применяется эффект перехода.
          </p>
          <p class="form__description">
            transition-timing-function представляет собой математическую
            функцию, показывающую, как быстро по времени меняется указанное
            через transition-property значение свойства. Начальная точка имеет
            координаты 0.0, 0.0, конечная — 1.0, 1.0, при этом функция по оси
            ординат может превышать эти значения в большую или меньшую сторону
            (рис. 1).
          </p>
          <p class="form__syntax">
            Синтаксис: <br />
            transition-timing-function:
            ease|ease-in|ease-out|ease-in-out|linear|step-start|step-end|steps|cubic-bezier
          </p>
          <p class="form__subheading">Значения</p>
          <p class="form__description">
            <b>ease</b> Анимация начинается медленно, затем ускоряется и к концу
            движения опять замедляется. Аналогично
            cubic-bezier(0.25,0.1,0.25,1).
          </p>
          <p class="form__description">
            <b>ease-in </b> Анимация медленно начинается, к концу ускоряется.
            Аналогично cubic-bezier(0.42,0,1,1).
          </p>
          <p class="form__description">
            <b>ease-out </b> Анимация начинается быстро, к концу замедляется.
            Аналогично cubic-bezier(0,0,0.58,1).
          </p>
          <p class="form__description">
            <b>ease-in-out </b> Анимация начинается и заканчивается медленно.
            Аналогично cubic-bezier(0.42,0,0.58,1).
          </p>
          <p class="form__description">
            <b>linear </b> Одинаковая скорость от начала и до конца.
          </p>
          <p class="form__description">
            <b>step-start </b> Как таковой анимации нет. Стилевые свойства сразу
            же принимают конечное значение.
          </p>
          <p class="form__description">
            <b>step-end </b> Как таковой анимации нет. Стилевые свойства
            находятся в начальном значении заданное время, затем сразу же
            принимают конечное значение.
          </p>
          <p class="form__description">
            <b>steps </b> Ступенчатая функция, имеющая заданное число шагов.
            <br />
            transition-timing-function: steps(<число>, start | end) <br />
            Здесь: <число> — целое число больше нуля; start — задаёт
            полунепрерывную снизу функцию; end — задаёт полунепрерывную сверху
            функцию.
          </p>
          <p class="form__description">
            <b>cubic-bezier </b> Задаёт функцию движения в виде кривой Безье.
          </p>

          <p class="form__description">
            В предыдущих примерах переходы происходили с одинаковой динамикой.
            Мы меняли длительность и задержку перехода, но не скорость и
            ускорение. По умолчанию, скорость и ускорение изменений
            соответствуют первому графику, из которого видно, что переход
            начинается медленно, затем ускоряется и к концу движения опять
            замедляется.
          </p>
          <p class="form__description">
            Так ведёт себя значение <b>ease</b> свойства
            transition-timing-function.(Первый график)
          </p>
          <div class="form__row">
            <div class="form__column">
              <img
                class="form__image-graph"
                src="../assets/icons/coolStuff/graphEase.png"
                alt=""
              />
              <p class="form__image-title">ease</p>
            </div>
            <div class="form__column">
              <img
                class="form__image-graph"
                src="../assets/icons/coolStuff/graphLinear.png"
                alt=""
              />
              <p class="form__image-title">linear</p>
            </div>
          </div>
          <p id="example" class="form__description">
            Чтобы сделать переход равномерным, без ускорений и замедлений,
            используется значение <b>linear</b>. «Форма» линейного перехода
            приведена на втором графике.
          </p>
        </section>
        <!-- transition-timing-function «Форма» перехода -->

        <!-- example примеры  timing-function-переходов -->
        <section class="example">
          <div class="example__bloc">ease</div>
          <div class="example__bloc">ease-in</div>
          <div class="example__bloc">ease-out</div>
          <div class="example__bloc">ease-in-out</div>
          <div class="example__bloc">linear</div>
          <div class="example__bloc">step-start</div>
          <div class="example__bloc">step-end</div>
          <div class="example__bloc">steps</div>
          <div class="example__bloc">cubic-bezier</div>
        </section>
        <!-- example примеры  timing-function-переходов -->
        <div class="encoding">
          <p class="encoding__prompt">HTML</p>
          <pre class="encoding__code-box">
              <code class="encoding__code-font">                                   
                &lt;section class="example"&gt;&gt;
                    &lt;div class="example__bloc"&gt;ease&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;ease-in&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;ease-out&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;ease-in-out&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;linear&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;step-start&lt;div&gt;
                    &lt;div class="example__bloc"&gt;step-end&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;steps&lt;/div&gt;
                    &lt;div class="example__bloc"&gt;cubic-bezier&lt;/div&gt;
                &lt;section&gt;                                    
              </code>
           </pre>
        </div>

        <div class="encoding">
          <p class="encoding__prompt encoding__prompt_second">SCSS</p>
          <pre class="encoding__code-box">
              <code>                                   
                .example {
                  max-width: 944px;
                  min-height: calc(100vh - 72px);
                  margin: 0 auto;
                  border: 1px solid gray;
                  margin-bottom: 72px;
                
                  &:hover .example__bloc {
                    border-radius: 50%;
                    transform: translateX(750px) rotate(1800deg);
                    transition-duration: 3s;
                
                    &:nth-child(1) {
                      transition-timing-function: ease;
                    }
                
                    &:nth-child(2) {
                      transition-timing-function: ease-in;
                    }
                
                    &:nth-child(3) {
                      transition-timing-function: ease-out;
                    }
                
                    &:nth-child(4) {
                      transition-timing-function: ease-in-out;
                    }
                
                    &:nth-child(5) {
                      transition-timing-function: linear;
                      color: green;
                    }
                
                    &:nth-child(6) {
                      transition-timing-function: step-start;
                    }
                
                    &:nth-child(7) {
                      transition-timing-function: step-end;
                    }
                
                    &:nth-child(8) {
                      transition-timing-function: steps;
                    }
                
                    &:nth-child(9) {
                      transition-timing-function: cubic-bezier;
                    }
                  }
                
                  &__block {
                    width: 60px;
                    height: 60px;
                    margin: 12px 24px;
                    color: white;
                    text-align: center;
                
                    &:nth-child(1) {
                      background-color: black;
                    }
                
                    &:nth-child(2) {
                      background-color: gray;
                    }
                
                    &:nth-child(3) {
                      background-color: red;
                    }
                
                    &:nth-child(4) {
                      background-color: orange;
                    }
                
                    &:nth-child(5) {
                      background-color: yellow;
                      color: red;
                    }
                
                    &:nth-child(6) {
                      background-color: green;
                    }
                
                    &:nth-child(7) {
                      background-color: blue;
                    }
                
                    &:nth-child(8) {
                      background-color: rgb(5, 5, 53);
                    }
                
                    &:nth-child(9) {
                      background-color: purple;
                    }
                  }
                }                                   
              </code>
           </pre>
        </div>
        <!-- graphics-transition графики переходов-->
        <section class="graphics-transition">
          <h1
            id="graphics-transition"
            class="graphics-transition__heading h2-font-h1"
          >
            Графики переходов
          </h1>
          <div class="graphics-transition__block">
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/01_ease.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">ease</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/02_ease-in.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">ease-in</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/03_ease-out.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">ease-out</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/04_ease-in-out.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">ease-in-out</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/05_linear.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">linear</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/06_step-start.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">step-start</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/07_step-end.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">step-end</p>
            </div>
            <div class="graphics-transition__column">
              <img
                class="graphics-transition__image"
                src="../assets/icons/htmlBook/08_steps.png"
                alt=""
              />
              <p class="graphics-transition__title sm-font">steps</p>
            </div>
          </div>
        </section>
        <!-- graphics-transition графики переходов-->
      </article>

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->
    </main>
    <!-- main -->

    <!-- menu -->
    <nav class="menu">
      <!-- transform-list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/transformations.html">
          Двумерные трансформации</a
        >
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#transformations"
              >Трансформация элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate-x"
              >Сдвиг по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate-y"
              >Сдвиг по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#translate"
              >Сдвиг по горизонтали и вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale"
              >Изменение масштаба элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale-x"
              >Изменение масштаба по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#scale-y"
              >Изменение масштаба по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#rotate"
              >Поворот элемента</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#skew-x"
              >Наклон элемента по горизонтали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#skew-y"
              >Наклон элемента по вертикали</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transformations.html#transform-origin"
              >Координаты трансформации элемента.</a
            >
          </li>
        </div>
      </ul>
      <!-- transform-list -->

      <!-- transitions_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/transitions.html">
          Плавные переходы
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition"
              >Универсальное свойство</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-duration"
              >Длительность перехода</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-property"
              >Какие свойства плавно изменять</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-delay"
              >Задержка перехода
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#transition-timing-function"
              >Скорость и ускорение переходов
            </a>
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#example"
              >примеры timing-function переходов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/transitions.html#graphics-transition"
              >Графики переходов</a
            >
          </li>
        </div>
      </ul>
      <!-- transitions_list -->

      <!-- gradient_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/linearGradient.html">
          Линейный градиент</a
        >
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#linear-gradient"
              >Линейный градиент</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#examples"
              >Примеры прямых и диогональных переходов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#angled-gradients"
              >Градиенты под углом</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#sample-flower"
              >Градиенты под углом, пример:</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#sample"
              >Множество градиентов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#color-stop"
            >
              Пропорции цветов и колорстопы</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#color-stop-sample"
              >Примеры колор стопов</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#repeating-gradient"
            >
              Повторяющийся линейный градиент</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#stylish-buttons"
              >Стильные кнопки</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/linearGradient.html#footer"
              >Рекомендации</a
            >
          </li>
        </div>
      </ul>
      <!-- gradient_list -->

      <!-- stuff_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/coolStuff.html"
          >Крутые вещи</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#custom-shadows"
              >Нестандартные тени</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#hover-active"
            >
              Эффекты при наведении на кнопки</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#active-gallery"
            >
              Эффекты при наведении на галерею</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/coolStuff.html#stack-cards"
              >Стопка" карт</a
            >
          </li>
        </div>
      </ul>
      <!-- stuff_list -->

      <!-- forms_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/forms.html">
          Формы form
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#inputs">
              Ввод "input"</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#type-text">
              Поля inputs
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#button"
              >Кнопки button
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#checkbox">
              checkbox</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#slider"
              >Ползунки slider</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#radiobutton"
              >Переключатели radiobutton</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#multicolor-switch"
              >multicolor-switch Тройной переключатель
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#triple-switch"
              >triple-switch Тройной переключатель</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#secondary-radio"
              >secondary-radio Двойной переключатель</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/forms.html#twin-switch "
              >twin-switch Универсальный переключатель</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#drop-down">
              Выпадающий или раскрывающийся список</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/forms.html#teg-select"
              >Тег select, поле выбора
            </a>
          </li>
        </div>
      </ul>
      <!-- forms_list -->

      <!-- position-ratio_list -->
      <ul class="menu__list">
        <a
          class="menu__link h2-font"
          href="../templates/positionAspectRatio.html"
        >
          Работа с изображениями</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#centering"
            >
              Центрирование centering</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#aspect-ratio"
            >
              Свойство CSS aspect-ratio: X / Y
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#factoring-width"
            >
              Факторинг в min-*и max-*</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#aspect-ratio-example"
            >
              Примеры работы свойства aspect-ratio:</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#position"
            >
              Позиционирование элемента</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#position__absolute"
            >
              Позиционирование absolute подробнее.</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#height-absolute"
            >
              Высота для position: absolute;</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/positionAspectRatio.html#relative-absolute"
            >
              Позиционирование и aspect-ratio: X / Y;</a
            >
          </li>
        </div>
      </ul>
      <!-- position-ratio_list -->

      <!-- utility_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/utility.html">
          Полезная информация</a
        >

        <div class="menu__content">
          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#my-tabs">
              Мои вкладки</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#html5book.ru"
            >
              HTML5BOOK.ru теория html, css, js</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#HTML5CSS.ru"
            >
              HTML5CSS.ru Как сделать?</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#WebReference"
            >
              Мощный учебник WebReference</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#css-tricks "
            >
              Учебник css-tricks и Aspect Ratio
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#Git">
              Ресурсы для изучения Git</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#ru.bem">
              Методология БЭМ
            </a>
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#first-child"
            >
              Структурные псевдоклассы</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#after">
              ::after и ::before</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#form__link"
            >
              Как сделать гиперссылки на сайте</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#svoystva-teksta"
            >
              Свойства шрифта, текста</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#Select-Option"
            >
              Стилизация Select-Option</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#user-select"
            >
              user-select</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/utility.html#webfanat"
            >
              Блог веб разработки webfanat</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>

          <li class="menu__item">
            <a class="menu__item_link" href="../templates/utility.html#">
              xxx</a
            >
          </li>
        </div>
      </ul>
      <!-- utility_list -->

      <!-- shadow_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/boxShadow.html">
          Тени box-shadow
        </a>
        <div class="menu__content">
          <li class="menu__item">
            <a
              class="menu__item_link"
              href="../templates/boxShadow.html#box-shadow"
            >
              Тени box-shadow</a
            >
          </li>
        </div>
      </ul>
      <!-- shadow_list -->
    </nav>
    <!-- menu -->

    <!-- header -->
    <header class="header"></header>
    <!-- header -->
  </body>
</html>
