// custom-shadows
.custom-shadows {
  width: 100%;
  margin-bottom: 48px;

  &__bloc {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 68px;
    padding: 100px 0;
    background-color: white;
    box-shadow: 0 0 3px #cccccc;

    @media screen and (min-width: 375px) {
      height: 81.75px;
    }

    @media screen and (min-width: 448px) {
      height: 100px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 80%;
      bottom: 15px;
      width: 45%;
      max-width: 300px;
      background-color: #dddddd;
      box-shadow: 0 15px 10px #555555;
    }

    &::before {
      left: 10px;
    }

    &::after {
      right: 10px;
    }

    &_converted {
      &::before,
      &::after {
        position: absolute;
        /* уберём псевдоэлементы н задний план*/
        // z-index: -1;
      }

      &::before {
        transform: rotate(-3deg);
      }

      &::after {
        transform: rotate(3deg);
      }
    }

    & h1:only-of-type {
      text-align: center;
      margin-top: -48px;
    }
  }
}
// custom-shadows

// hover-active
.hover-active {
  width: 100%;
  margin-bottom: 72px;

  &__button-container {
    width: 100%;
    max-width: 365px;
    margin-bottom: 60px;
  }

  &__button {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
    color: white;
    border: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    &_renovation {
      background-color: #1abc9c;
      border-bottom: 2px solid #12ab8d;
      background-image: linear-gradient(green, yellow, green);
      box-shadow: inset 0 -2px #12ab45;

      &:hover .hover-active__icon_renovation {
        transform: rotate(360deg) scale(2);
        transition: transform 0.4s ease-in-out;
      }

      &:active .hover-active__icon_renovation {
        transform: rotate(-360deg) scale(1.5);
        transition: transform 0.4s ease-in-out;
      }

      &:hover {
        // transition-duration: 2s; не работает
        background-image: linear-gradient(blue, red, blue);
        border-bottom: 2px solid #1236ab;
        box-shadow: inset 0 -2px #1280ab;
        // transition: all 0.4s ease-in-out; не работает
      }

      &:active {
        top: 1px;
        box-shadow: none;
        transition: transform 0.4s ease-in-out;
      }
    }

    &_basket {
      // жёлтый
      background-image: linear-gradient(red, yellow, red);
      box-shadow: inset 0 -2px #e20736;

      &:hover {
        background-image: linear-gradient(orange, red, orange);
      }

      &:hover .hover-active__icon_hidden {
        transform: scale(1);
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
      }

      &:hover .hover-active__icon_basket {
        opacity: 0;
        transform: scale(10);
        transition: all 0.4s ease-in-out;
      }

      &:active .hover-active__icon_hidden {
        transform: scale(3);
        transition: all 0.4s ease-in-out;
      }

      &:active {
        top: 1px;
        box-shadow: none;
        transition: transform 0.4s ease-in-out;
      }
    }

    &_message {
      background-image: linear-gradient(purple, orange, purple);
      box-shadow: inset 0 -2px #f032c0;

      &:hover {
        background-image: linear-gradient(white, red, white);
        box-shadow: inset 0 -2px #f8f1f6;
      }

      &:hover .hover-active__icon_hidden-message {
        opacity: 1;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out 0.1s;
        transform: scale(1);
      }

      &:hover .hover-active__icon_message {
        opacity: 0;
        transform: scale(10);
        transition: all 0.4s ease-in-out;
      }

      &:active .hover-active__icon_hidden-message {
        transform: scale(3);
        transition: all 0.4s ease-in-out;
      }

      &:active {
        top: 1px;
        box-shadow: none;
        transition: transform 0.4s ease-in-out;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 20px;

    &_renovation {
      width: 24px;
      height: 24px;
    }

    &_basket {
      width: 32px;
      height: 32px;
      bottom: 12px;
    }

    &_hidden {
      width: 24px;
      height: 24px;
      opacity: 0;
    }

    &_message {
      width: 28px;
      height: 28px;
      top: 16px;
    }

    &_hidden-message {
      width: 28px;
      height: 28px;
      opacity: 0;
    }
  }
}
// hover-active

// active-gallery
.active-gallery {
  width: 100%;
  margin-bottom: 72px;

  &__bloc {
    width: 100%;
    padding: 24px;
    background-color: #f5f5f5;
  }

  &__deck {
    list-style: none;
  }

  &__card {
    width: 100px;
    position: relative;
    display: inline-block;
    margin: 0 20px 20px 0;

    &:hover {
      transition: all 0.1s linear;
      opacity: 0.6;
      transform: scale(1.1);
    }
  }
}
// active-gallery

// stack-cards
.stack-cards {
  width: 100%;
  border-color: #ffffff;
  margin-bottom: 72px;

  &__block {
    width: 100%;
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    padding: 24px;
    background-color: #f5f5f5;
    position: relative;
  }

  &__container {
    width: 272px;
    height: 175px;
    top: 100px;
    left: 0;
    position: relative;

    @media screen and (min-width: 576px) {
      left: 40%;
    }
  }

  &__deck {
    width: 110px;
  }

  &__card {
    position: absolute;
    transition: all 0.1s linear;
    transform-origin: 0 0;

    &:hover {
      transition: all 0.1s linear;
    }

    &_jack {
      transform: rotate(-10deg);

      &:hover {
        transform: rotate(-90deg);
      }
    }

    &_ten-2 {
      transform: rotate(-20deg);

      &:hover {
        transform: rotate(-90deg);
      }
    }

    &_ace {
      transform: rotate(-30deg);

      &:hover {
        transform: rotate(-90deg);
      }
    }

    &_king {
      transform: rotate(-40deg);

      &:hover {
        transform: rotate(-90deg);
      }
    }

    &_queen {
      transform: rotate(-50deg);

      &:hover {
        transform: rotate(-90deg);
      }
    }

    &_ten {
      transform: rotate(-60deg);

      &:hover {
        transform: rotate(-90deg);
      }
    }
  }
}
// stack-cards

//  ::after и ::before
.after-before {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 72px;
}
//  ::after и ::before

// header
.header {
  width: 100%;
  height: 72px;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-image: linear-gradient(red, gold, red);
}
// header
