// Linear-gradient Информация
.linear-gradient {
  width: 100%;
  margin-bottom: 48px;

  &__box-sample {
    width: 100%;
    padding: 12px 24px;
    border-color: yellow;
    background-image: linear-gradient(yellow, green);
    margin-bottom: 24px;
  }

  &__image-syntax {
    width: 100%;
    max-width: 552px;
    aspect-ratio: 552 / 80;
  }
}
// Linear-gradient Информация

// Примеры прямых переходов цветов
.examples {
  width: 100%;
  margin-bottom: 48px;
}

.table {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 48px;

  overflow-x: scroll;

  @media screen and (min-width: 1299px) {
    overflow-x: hidden;
  }

  &__item {
    min-width: 204px;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-sizing: border-box;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) .table__black {
      background-image: linear-gradient(to top, black, white);
    }

    &:nth-child(2) .table__black {
      background-image: linear-gradient(to left, black, white);
    }

    &:nth-child(3) .table__black {
      background-image: linear-gradient(to bottom, black, white);
    }

    &:nth-child(4) .table__black {
      background-image: linear-gradient(to right, black, white);
    }

    &:nth-child(5) .table__black {
      background-image: linear-gradient(to top left, black, white);
    }

    &:nth-child(6) .table__black {
      background-image: linear-gradient(to top right, black, white);
    }

    &:nth-child(7) .table__black {
      background-image: linear-gradient(to bottom left, black, white);
    }

    &:nth-child(8) .table__black {
      background-image: linear-gradient(to bottom right, black, white);
    }

    &:nth-child(1) .table__yellow {
      background-image: linear-gradient(to top, yellow, green);
    }

    &:nth-child(2) .table__yellow {
      background-image: linear-gradient(to left, yellow, green);
    }

    &:nth-child(3) .table__yellow {
      background-image: linear-gradient(to bottom, yellow, green);
    }

    &:nth-child(4) .table__yellow {
      background-image: linear-gradient(to right, yellow, green);
    }

    &:nth-child(5) .table__yellow {
      background-image: linear-gradient(to top left, yellow, green);
    }

    &:nth-child(6) .table__yellow {
      background-image: linear-gradient(to top right, yellow, green);
    }

    &:nth-child(7) .table__yellow {
      background-image: linear-gradient(to bottom left, yellow, green);
    }

    &:nth-child(8) .table__yellow {
      background-image: linear-gradient(to bottom right, yellow, green);
    }

    &:nth-child(1) .table__rainbow {
      background-image: linear-gradient(
        to top,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(2) .table__rainbow {
      background-image: linear-gradient(
        to left,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(3) .table__rainbow {
      background-image: linear-gradient(
        to bottom,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(4) .table__rainbow {
      background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(5) .table__rainbow {
      background-image: linear-gradient(
        to top left,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(6) .table__rainbow {
      background-image: linear-gradient(
        to top right,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(7) .table__rainbow {
      background-image: linear-gradient(
        to bottom left,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &:nth-child(8) .table__rainbow {
      background-image: linear-gradient(
        to bottom right,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }
  }

  &__title {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    text-align: center;
  }

  &__black {
    width: 100%;
    height: 72px;
  }

  &__yellow {
    width: 100%;
    height: 72px;
  }

  &__rainbow {
    width: 100%;
    height: 84px;
  }

  &__subtitle {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    text-align: center;
    color: magenta;
  }
}
// Примеры прямых переходов цветов

// angled-gradients Градиенты под углом
.angled-gradients {
  margin-bottom: 48px;

  &__image {
    width: 100%;
    max-width: 381px;
    aspect-ratio: 381 / 205;
    height: 204.93px;
  }
}
// angled-gradients Градиенты под углом

// sample пример Градиенты под углом flower
.sample-flower {
  width: 100%;
  margin-bottom: 24px;

  &__column {
    width: 100%;
    margin-bottom: 24px;
    display: flex;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
    }

    &:first-child {
      flex-direction: column;
      justify-content: space-around;
      margin-right: 0;

      @media screen and (min-width: 767px) {
        margin-right: 12px;
      }
    }

    &:last-child {
      margin-left: 0;

      @media screen and (min-width: 767px) {
        margin-left: 12px;
      }
    }
  }
}

.flower {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__leaf {
    margin: 0;
    width: 150px;
    height: 150px;
    background-color: #dfdfdf;
  }

  &__leaf-top-left {
    background-image: linear-gradient(135deg, #ff0000, #000000);
    border-radius: 0 50%;
  }

  &__leaf-top-right {
    background-image: linear-gradient(225deg, #00ff00, #000000);
    border-radius: 50% 0;
  }

  &__leaf-bottom-left {
    background-image: linear-gradient(45deg, #ff00ff, #000000);
    border-radius: 50% 0;
  }

  &__leaf-bottom-right {
    background-image: linear-gradient(315deg, #ffff00, #000000);
    border-radius: 0 50%;
  }
}
// sample пример Градиенты под углом flower

// sample примеры
.sample {
  margin-bottom: 24px;

  &__column {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid gray;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
    }

    &:first-child {
      margin-right: 0;

      @media screen and (min-width: 767px) {
        margin-right: 12px;
      }
    }

    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0px;

      @media screen and (min-width: 767px) {
        margin-left: 12px;
      }
    }
  }

  &__many-gradients {
    width: 100%;
    max-width: 356px;
    padding: 24px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background: linear-gradient(
      to top,
      rgba(30, 87, 153, 0),
      rgba(30, 87, 153, 0.8),
      rgba(30, 87, 153, 1),
      rgba(30, 87, 153, 1),
      rgba(41, 137, 216, 1),
      rgba(30, 87, 153, 1),
      rgba(30, 87, 153, 1),
      rgba(30, 87, 153, 0.8),
      rgba(30, 87, 153, 0)
    );
  }

  &__color-proportions {
    width: 100%;
    max-width: 356px;
    padding: 24px 20px;
    border-radius: 20px;
    border: 1px solid #333;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background: #b5bdc8;
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  }
}
// sample примеры

// Примеры колор стопов
.color-stop {
  margin-bottom: 48px;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-of-type(1) .color-stop__appearance {
      background-image: linear-gradient(to right, yellow, green);
    }

    &:nth-of-type(2) .color-stop__appearance {
      background-image: linear-gradient(to right, yellow 0%, green 100%);
    }

    &:nth-of-type(3) .color-stop__appearance {
      background-image: linear-gradient(to right, yellow 0%, green 50%);
    }

    &:nth-of-type(4) .color-stop__appearance {
      background-image: linear-gradient(to right, yellow 50%, green 100%);
    }

    &:nth-of-type(5) .color-stop__appearance {
      background-image: linear-gradient(to right, yellow 25%, green 75%);
    }

    &:nth-of-type(6) .color-stop__appearance {
      background-image: linear-gradient(to right, red, yellow, green);
    }

    &:nth-of-type(7) .color-stop__appearance {
      background-image: linear-gradient(
        to right,
        red 0%,
        yellow 50%,
        green 100%
      );
    }

    &:nth-of-type(8) .color-stop__appearance {
      background-image: linear-gradient(
        to right,
        red 33%,
        yellow 66%,
        green 100%
      );
    }

    & p:only-of-type {
      // cursor: pointer;
      margin-top: 24px;
      display: block;
      position: relative;

      &:hover .color-stop__code-hidden {
        display: block;
      }
    }
  }

  &__column {
    width: 100%;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
    }

    &:first-child {
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 767px) {
        margin-right: 12px;
        justify-content: flex-start;
      }
    }

    &:last-child {
      display: flex;
      align-items: center;

      @media screen and (min-width: 767px) {
        margin-left: 12px;
      }
    }
  }

  &__appearance {
    width: 100%;
    max-width: 356px;
    margin: 0 auto;
    height: 24px;
  }

  &__code-visual {
    font-size: 11px;
    color: rgb(26, 204, 106);
    position: absolute;
    top: 16px;
    left: 0;
  }

  &__code-hidden {
    display: none;
    color: rgb(44, 187, 44);
    background-color: #fff;
    position: absolute;
    padding: 24px;
    top: 20px;
    left: 0;
    z-index: 1;
  }
}
// Примеры колор стопов

// repeating Повторяющийся линейный градиент
.repeating {
  margin-bottom: 48px;

  &__list {
    margin-bottom: 24px;
    margin-left: 24px;
  }

  &__row {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;

    @media screen and (min-width: 1299px) {
      overflow-x: hidden;
    }
  }

  &__column {
    min-width: 204px;
    margin: 0 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 5px rgb(179, 170, 170);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-of-type(1) .repeating__normal {
      background-image: linear-gradient(black 0, green 25px, yellow 50px);
    }

    &:nth-of-type(2) .repeating__normal {
      background-image: linear-gradient(
        black 0,
        black 17px,
        green 17px,
        green 33px,
        yellow 33px,
        yellow 50px
      );
    }

    &:nth-of-type(3) .repeating__normal {
      background-image: linear-gradient(
        black 0,
        green 25px,
        yellow 50px,
        black 75px
      );
    }

    &:nth-of-type(4) .repeating__normal {
      background-image: linear-gradient(black 0, green 25%, yellow 50%);
    }

    &:nth-of-type(1) .repeating__converted {
      background-image: repeating-linear-gradient(
        black 0,
        green 25px,
        yellow 50px
      );
    }

    &:nth-of-type(2) .repeating__converted {
      background-image: repeating-linear-gradient(
        black 0,
        black 17px,
        green 17px,
        green 33px,
        yellow 33px,
        yellow 50px
      );
    }

    &:nth-of-type(3) .repeating__converted {
      background-image: repeating-linear-gradient(
        black 0,
        green 25px,
        yellow 50px,
        black 75px
      );
    }

    &:nth-of-type(4) .repeating__converted {
      background-image: repeating-linear-gradient(
        black 0,
        green 25%,
        yellow 50%
      );
    }
  }

  &__title {
    margin: 12px 0;
    text-align: center;
  }

  &__normal {
    width: 204px;
    height: 196px;
    background-color: blue;
    background-image: linear-gradient(none);
  }

  &__converted {
    width: 204px;
    height: 196px;
    background-color: blue;
    background-image: linear-gradient(none);
  }
}
// repeating Повторяющийся линейный градиент

// buttons Стильные кнопки
.buttons {
  margin-bottom: 48px;

  &__row {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;

    @media screen and (min-width: 1299px) {
      overflow-x: hidden;
    }
  }

  &__column {
    min-width: 272px;
    margin: 0 12px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-shadow: 3px 3px 3px 3px rgb(238, 196, 196);
    box-sizing: border-box;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:nth-of-type(1) .buttons__button {
      background-image: linear-gradient(#ffffff, #dddddd);
      color: #333333;
    }

    &:nth-of-type(2) .buttons__button {
      background-image: linear-gradient(#cc0630 0%, #8f0222 75%, #6d0019 100%);
      color: #ffffff;
    }

    &:nth-of-type(3) .buttons__button {
      background-image: linear-gradient(
        #b8e1fc 0%,
        #90bcea 35%,
        #90bff0 50%,
        #6ba8e5 51%,
        #bdf3fd 100%
      );
      color: #ffffff;
    }
  }

  &__wrapper {
    padding: 12px 24px;
    height: 168px;

    & p:only-of-type {
      margin-bottom: 0px;
    }
  }

  &__bloc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 100%;
    max-width: 264px;
    padding: 12px 8px;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px #aaaaaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    background-color: rgba(41, 137, 216, 1);
    box-sizing: border-box;
  }
}
// buttons Стильные кнопки

// encoding
.encoding {
  &__prompt {
    font-size: 11px;
    line-height: 14px;
    max-width: 272px;
    padding-bottom: 24px;
    color: rgb(26, 204, 106);
    position: absolute;
    top: -36px;
    left: 0;

    &_second {
      left: 80px;
    }

    &_third {
      left: 160px;
    }

    &_fourth {
      left: 240px;
    }
  }
}
// encoding

// footer
.footer {
  margin-bottom: 48px;

  &__link {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: blue;
  }
}
// footer

// header
.header {
  opacity: 0.5;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background: rgba(164, 74, 182, 0.8);
  background-image: linear-gradient(rgba(164, 74, 182, 0.8), yellow, white);
  box-shadow: 5px 5px 10px 3px white;
}
// header
