// centering
.centering {
  width: 100%;
  margin-bottom: 48px;

  &__block-image {
    width: 100%;
    height: 262.5px;
    position: relative;
    border: 1px solid rgb(145, 134, 134);
    margin-bottom: 48px;
  }

  &__image-centering {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5;
  }
}
// centering

// aspect-ratio
.aspect-ratio {
  width: 100%;
  background-color: #fff;
  margin-bottom: 72px;

  &__row {
    margin-bottom: 36px;
  }

  &__column {
    margin-bottom: 24px;
  }

  &__wrapper {
    aspect-ratio: 282/216;
    background-color: gray;
    background-size: cover;
    background-position: center center;

    &_wrapper {
      aspect-ratio: none;
    }
  }

  &__picture {
    width: 100%;
    aspect-ratio: 282/216;
  }
}
// aspect-ratio

//position
.position {
  width: 100%;
  background-color: #fff;
  margin-bottom: 72px;
}
//position

//  absolute
.absolute {
  width: 100%;
  background-color: #ffffff;

  &__range {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;

    &:nth-child(1) {
      margin-right: 12px;
    }

    &:nth-child(2) {
      margin-left: 12px;
    }

    @media screen and (min-width: 767px) {
      flex: 0 0 50%;
      max-width: calc(50% - 12px);
    }
  }

  &__images {
    width: 100%;
    position: relative;

    @media screen and (min-width: 576px) {
      height: 100%;
    }
  }

  &__picture {
    width: 100%;
    height: 262px;
    background-position: center center;
    background-size: cover;
    display: block;

    @media screen and (min-width: 767px) {
      width: 61.3%;
      position: absolute;
    }

    &:first-child {
      margin-bottom: 24px;

      @media screen and (min-width: 767px) {
        bottom: 0;
        left: 0;
      }
    }

    &:nth-child(2) {
      @media screen and (min-width: 767px) {
        top: 0;
        right: 0;
      }
    }
  }
}
// absolute

// relative-absolute
.relative-absolute {
  width: 100%;
  margin-bottom: 72px;
  background-color: #ffffff;

  &__range {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }

  &__column {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;

    &:nth-child(1) {
      margin-right: 12px;
    }

    &:nth-child(2) {
      margin-left: 12px;
    }

    @media screen and (min-width: 767px) {
      flex: 0 0 50%;
      max-width: calc(50% - 12px);
    }
  }

  &__images {
    width: 100%;
    position: relative;
  }

  &__picture {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(50% + 36px);
    aspect-ratio: 204 / 216;

    &:nth-child(1) {
      position: relative;
      bottom: -21px;
      left: 0;
      margin-top: 105px;
    }

    &:nth-child(2) {
      position: absolute;
      bottom: 100px;
      right: 0;
    }
  }

  &__bloc-photo {
    width: 100%;
    margin-bottom: 48px;
    position: relative;
  }

  &__photo {
    aspect-ratio: 468 / 344;
    width: 100%;

    @media screen and (min-width: 576px) {
      max-width: calc(50% + 56px);
    }

    &:first-child {
      position: static;
      margin-bottom: 24px;

      @media screen and (min-width: 576px) {
        position: relative;
        margin-top: 72px;
        bottom: 0;
        left: 0;
      }
    }

    &:last-child {
      position: static;

      @media screen and (min-width: 576px) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

// relative-absolute

// header
.header {
  width: 100%;
  height: 72px;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgb(0, 255, 255), gold, rgb(83, 60, 170));
}
// header
