// transformations
.transformations {
  width: 100%;
  margin-bottom: 48px;

  &__coordinate-picture {
    width: 100%;
    max-width: 231px;
    height: 228px;
  }
}
// transformations

// transform
.transform {
  margin-right: -6px;
  margin-left: -6px;
  box-sizing: border-box;
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;

  @media screen and (min-width: 1299px) {
    overflow-x: hidden;
  }

  &__box {
    width: 165.6px;
    min-width: 165.6px;
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-sizing: border-box;
  }

  &__formula {
    margin: 6px;
  }

  &__span {
    display: block;
    color: blue;
  }

  &__zone {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid gray;
    height: 120px;
    cursor: pointer;
    position: relative;
  }

  &__icon {
    background-size: cover;
    background-position: center center;
    width: 48px;
    height: 48px;
  }
}
// transform

// translate-x
.translate-x {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_fourth {
      &:hover .translate-x__start_fourth {
        transform: translateX(50px);
      }
    }

    &_fifth {
      &:hover .translate-x__start_fifth {
        transform: translateX(-50px);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/antiMiteGirl.svg);
  }

  &__start {
    width: 48px;
    height: 48px;
    position: relative;
    top: 46px;
    left: 57.8px;

    &_second {
      transform: translateX(50px);
    }

    &_third {
      transform: translateX(-50px);
    }
  }
}
// translate-x

// translate-y
.translate-y {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_fourth {
      &:hover .translate-y__start_fourth {
        transform: translateY(20px);
      }
    }

    &_fifth {
      &:hover .translate-y__start_fifth {
        transform: translateY(-20px);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg);
  }

  &__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px;

    &_second {
      transform: translateY(20px);
    }

    &_third {
      transform: translateY(-20px);
    }
  }
}
// translate-y

// translate
.translate {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_fourth {
      &:hover .translate__start_fourth {
        transform: translateX(50px) translateY(-45px);
      }
    }

    &_fifth {
      &:hover .translate__start_fifth {
        transform: translate(50px, -45px);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/antiMiteForest.svg);
  }

  &__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 46px;
    left: 0px;

    &_second {
      transform: translateX(50px) translateY(-45px);
    }

    &_third {
      transform: translate(50px, -45px);
    }
  }
}
// translate

// scale
.scale {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_second {
      &:hover .scale__start_second {
        transform: scale(0.5);
      }

      &:active .scale__start_second {
        transform: scale(2);
      }
    }

    &_third {
      &:hover .scale__start_third {
        transform: scale(2);
      }

      &:active .scale__start_third {
        transform: scale(0.5);
      }
    }

    &_fourth {
      &:hover .scale__start_fourth {
        transform: scale(0);
      }

      &:active .scale__start_fourth {
        transform: scale(2);
      }
    }

    &_fifth {
      &:hover .scale__start_fifth {
        transform: scale(1);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg);
  }

  &__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px;
  }
}
// scale

// scale-x
.scale-x {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_second {
      &:hover .scale-x__start_second {
        transform: scaleX(0.5);
      }

      &:active .scale-x__start_second {
        transform: scaleX(2);
      }
    }

    &_third {
      cursor: pointer;

      &:hover .scale-x__start_third {
        transform: scaleX(2);
      }

      &:active .scale-x__start_third {
        transform: scaleX(0.5);
      }
    }

    &_fourth {
      cursor: pointer;

      &:hover .scale-x__start_fourth {
        transform: scaleX(0);
      }

      &:active .scale-x__start_fourth {
        transform: scaleX(2);
      }
    }

    &_fifth {
      cursor: pointer;

      &:hover .scale-x__start_fifth {
        transform: scaleX(1);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg);
  }

  &__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px;
  }
}
// scale-x

// scale-y
.scale-y {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_second {
      &:hover .scale-y__start_second {
        transform: scaleY(0.5);
      }

      &:active .scale-y__start_second {
        transform: scaleY(2);
      }
    }

    &_third {
      &:hover .scale-y__start_third {
        transform: scaleY(2);
      }

      &:active .scale-y__start_third {
        transform: scaleY(0.5);
      }
    }

    &_fourth {
      cursor: pointer;

      &:hover .scale-y__start_fourth {
        transform: scaleY(0);
      }

      &:active .scale-y__start_fourth {
        transform: scaleY(2);
      }
    }

    &_fifth {
      cursor: pointer;

      &:hover .scale-y__start_fifth {
        transform: scaleY(1);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/antiMitePointer.svg);
  }

  &__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px;
  }
}
// scale-y

// rotate
.rotate {
  width: 100%;
  margin-bottom: 48px;

  &__image {
    width: 63px;
    height: 63px;

    @media screen and (min-width: 767px) {
      width: 98px;
      height: 98px;
    }
  }

  &__zone {
    cursor: pointer;

    &_second {
      &:hover .rotate__start_second {
        transform: rotate(45deg);
      }

      &:active .rotate__start_second {
        transform: rotate(135deg);
      }
    }

    &_third {
      cursor: pointer;

      &:hover .rotate__start_third {
        transform: rotate(90deg);
      }

      &:active .rotate__start_third {
        transform: rotate(180deg);
      }
    }

    &_fourth {
      cursor: pointer;

      &:hover .rotate__start_fourth {
        transform: rotate(-45deg);
      }

      &:active .rotate__start_fourth {
        transform: rotate(-135deg);
      }
    }

    &_fifth {
      cursor: pointer;
      &:hover .rotate__start_fifth {
        transform: rotate(-90deg);
      }

      &:active .rotate__start_fifth {
        transform: rotate(-180deg);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/icons/clock.svg);
  }

  &__start {
    position: relative;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 57.8px;
  }

  &__image-direction {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 600 / 270;
  }
}
//rotate

// skew-x
.skew-x {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_fourth {
      &:hover .skew-x__start_fourth {
        transform: skewX(45deg);
      }
    }

    &_fifth {
      &:hover .skew-x__start_fifth {
        transform: skewX(-45deg);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/images/doctrineForm/womenCall.jpg);
  }

  &__start {
    position: relative;
    width: 80px;
    height: 74.93px;
    top: 20px;
    left: 36.8px;

    &_second {
      transform: skewX(15deg);
    }

    &_third {
      transform: skewX(-15deg);
    }
  }
}
// skew-x

// skew-y
.skew-y {
  width: 100%;
  margin-bottom: 48px;

  &__zone {
    cursor: pointer;

    &_fourth {
      &:hover .skew-y__start_fourth {
        transform: skewY(45deg);
      }
    }

    &_fifth {
      &:hover .skew-y__start_fifth {
        transform: skewY(-45deg);
      }
    }
  }

  &__icon {
    background-image: url(../../assets/images/doctrineForm/womenCall.jpg);
  }

  &__start {
    position: relative;
    width: 80px;
    height: 74.93px;
    top: 20px;
    left: 36.8px;

    &_second {
      transform: skewY(15deg);
    }

    &_third {
      transform: skewY(-15deg);
    }
  }
}
// skew-y

// transform-origin
.transform-origin {
  width: 100%;
  margin-bottom: 48px;

  &__image {
    width: 325px;
    height: 256px;
    margin-bottom: 48px;
  }

  &__image-example {
    width: 163.59px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__example {
    padding-bottom: 200px;
  }

  &__zone {
    cursor: pointer;

    &_second {
      &:hover .transform-origin__start_second {
        transform: rotate(-360deg);
        transition: transform 1s ease;
      }

      &:active .transform-origin__start_second {
        transform: rotate(360deg);
        transition: transform 1s ease;
      }
    }

    &_third {
      &:hover .transform-origin__start_third {
        transform-origin: 100% 50%;
        transform: rotate(-360deg);
        transition: transform 1s ease;
      }

      &:active .transform-origin__start_third {
        transform: rotate(360deg);
        transform-origin: 100% 50%;
        transition: transform 1s ease;
      }
    }

    &_fourth {
      &:hover .transform-origin__start_fourth {
        transform: rotate(-360deg);
        transform-origin: top right;
        transition: transform 1s ease;
      }

      &:active .transform-origin__start_fourth {
        transform: rotate(360deg);
        transform-origin: top right;
        transition: transform 1s ease;
      }
    }

    &_fifth {
      &:hover .transform-origin__start_fifth {
        transform: rotate(360deg);
        transform-origin: center right;
        transition: transform 1s ease;
      }

      &:active .transform-origin__start_fifth {
        transform: rotate(-360deg);
        transform-origin: center right;
        transition: transform 1s ease;
      }
    }
  }

  &__start {
    position: relative;
    width: 163.59px;
    height: 173.2px;
  }
}
// transform-origin

// header
.header {
  opacity: 0.5;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(chartreuse, white, chartreuse);
}
// header
