// example-button
.example-button {
  &__item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: #ffffff;
    // overflow: hidden;
    overflow: visible;
    display: flex;

    &_primary {
      position: relative;

      &:hover {
        transition-duration: 1s;
        background-color: #ff5252;
      }
    }

    &_secondary {
      position: relative;

      &:hover {
        transition-duration: 200ms;
        background-color: #ff5252;
        color: #ffffff;
      }

      &:hover .example-button__image:nth-child(2) {
        transition-duration: 200ms;
        opacity: 1;
        transform: rotate(45deg);
      }

      &:hover .example-button__image:nth-child(1) {
        transition-duration: 200ms;
        transform: scale(10);
        opacity: 0;
      }
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: 4.5px;
    left: 4.5px;

    &:nth-child(2) {
      opacity: 0;
    }
  }
}
// example-button

// form
.form {
  background-color: #fff;

  &__image-graph {
    width: 244px;
    height: 332px;
  }

  &__image-title {
    text-align: center;
    color: blue;
  }
}
// form

// example
.example {
  max-width: 944px;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 72px;

  &:hover .example__bloc {
    border-radius: 50%;
    transform: translateX(750px) rotate(1800deg);
    transition-duration: 3s;

    &:nth-child(1) {
      transition-timing-function: ease;
    }

    &:nth-child(2) {
      transition-timing-function: ease-in;
    }

    &:nth-child(3) {
      transition-timing-function: ease-out;
    }

    &:nth-child(4) {
      transition-timing-function: ease-in-out;
    }

    &:nth-child(5) {
      transition-timing-function: linear;
      color: green;
    }

    &:nth-child(6) {
      transition-timing-function: step-start;
    }

    &:nth-child(7) {
      transition-timing-function: step-end;
    }

    &:nth-child(8) {
      transition-timing-function: steps;
    }

    &:nth-child(9) {
      transition-timing-function: cubic-bezier;
    }
  }

  &__bloc {
    width: 60px;
    height: 60px;
    margin: 12px 24px;
    color: white;
    text-align: center;

    &:nth-child(1) {
      background-color: black;
    }

    &:nth-child(2) {
      background-color: gray;
    }

    &:nth-child(3) {
      background-color: red;
    }

    &:nth-child(4) {
      background-color: orange;
    }

    &:nth-child(5) {
      background-color: yellow;
      color: red;
    }

    &:nth-child(6) {
      background-color: green;
    }

    &:nth-child(7) {
      background-color: blue;
    }

    &:nth-child(8) {
      background-color: rgb(5, 5, 53);
    }

    &:nth-child(9) {
      background-color: purple;
    }
  }
}
// example

// graphics-transition
.graphics-transition {
  width: 100%;
  background-color: #fff;
  margin-bottom: 72px;

  &__heading {
    margin-bottom: 36px;
  }

  &__block {
    width: 100%;
    display: block;
  }

  &__column {
    width: 271px;
    display: inline-block;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    text-align: center;
  }
}
// graphics-transition

// header
.header {
  opacity: 0.7;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(black, white, black);
}
// header
