// form
.form {
  width: 100%;
  background-color: #fff;
  // padding-top: 24px;

  padding-bottom: 24px;

  &__subheading {
    position: relative;
    color: magenta;
    margin-left: 24px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: magenta;
      position: absolute;
      top: 12px;
      left: -24px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 24px;
  }
}
// form

// form-hidden
.form-hidden {
  display: none;
}
// form-hidden

// header
.header {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    #b8e1fc 0%,
    #90bcea 35%,
    #90bff0 50%,
    #6ba8e5 51%,
    #bdf3fd 100%
  );
}
// header
