// form-buttons
.form-buttons {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;

  &__container-button-img {
    max-width: 140px;
    margin-bottom: 48px;
  }

  &__container-button {
    width: 100%;
    max-width: 365px;
    margin-bottom: 48px;
  }

  &__container-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px;
  }

  &__scale-image {
    width: 102px;
    height: 108px;
    border-radius: 22px;

    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
      transition: all 0.2s linear;
    }
  }

  &__scale-title {
    color: #fff;
    display: block;

    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
      transition: all 0.2s linear;
    }
  }

  &__secondary-button {
    max-width: 232px;

    &:hover {
      opacity: 0.9;
      transition: all 0.2s linear;
      border: 2px solid #0a0a0a;
      box-shadow: 2px 2px 2px 2px #0a0a0a;
    }

    &:first-child {
      background-color: #50287d;
      color: #ffffff;
      margin-right: 48px;
    }

    &:last-child {
      background-color: #fff;
      color: #50287d;
      border: 1px solid #50287d;
      display: none;

      @media screen and (min-width: 576px) {
        display: block;

        &:hover {
          border: 2px solid #50287d;
          box-shadow: 2px 2px 2px 2px #50287d;
        }
      }
    }
  }
}
// form-buttons
