.form-drop-down {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

// form-menu
.form-menu {
  width: 100%;
  padding: 48px 0;

  &__header {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(white, rgb(224, 16, 214), white);
  }

  &__heading {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 24px;

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__direction {
    font-size: 11px;
  }

  &__header-item {
    position: relative;

    &:hover .form-menu__content {
      display: block;
    }
  }

  &__button {
    min-width: 150px;
    padding: 24px 12px;
    font-weight: normal;
    color: #ffffff;

    &:hover {
      font-weight: bold;
    }
  }

  &__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &__link {
    font-size: 14px;
    padding: 6px 24px;
    text-decoration: none;
    display: block;
    border-top: 1px solid rgb(149, 202, 223);

    &:hover {
      background-color: #ddd;
    }
  }
}
// form-menu

// nav
.nav {
  width: 100%;
  padding-bottom: 36px;
  background-color: #fff;

  &__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;

    @media screen and (min-width: 767px) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__description {
    font-size: 11px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__direction {
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin-top: 24px;
  }

  &__list {
    max-width: 320px;
    margin-right: 10px;
    border-top: 1px solid #bfd1e4;
    background: rgba(230, 240, 250, 0.75);
    position: relative;

    &:hover .nav__hidden {
      display: block;
      width: 100%;
      background: rgba(230, 240, 250, 1);
      position: relative;
    }

    @media screen and (min-width: 375px) {
      max-width: 375px;
    }

    &:hover .nav__link {
      background-color: #ddd;
      color: black;
      transform: scaleY(1.05);
      transition: all 2ms linear;
    }
  }
  &__hidden {
    display: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    padding: 6px 24px;
  }

  &__item {
    padding-left: 48px;
    position: relative;
    border-top: 1px solid #bfd1e4;

    &_link {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px;

      &:hover {
        background-color: #ddd;
        color: black;
        transform: scaleY(1.05);
        transition: all 2ms linear;
      }
    }
  }
}
// nav

// guide
.guide {
  width: 100%;
  padding-bottom: 36px;
  background-color: #fff;

  &__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;

    @media screen and (min-width: 767px) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__description {
    font-size: 11px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__direction {
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin-top: 24px;
  }

  &__list {
    max-width: 320px;
    margin-right: 10px;
    border-top: 1px solid #bfd1e4;
    background: rgba(230, 240, 250, 0.75);
    position: relative;

    &:hover .guide__hidden {
      display: block;
      width: 100%;
      background: rgba(230, 240, 250, 1);
      position: absolute;
      z-index: 1;
    }

    @media screen and (min-width: 375px) {
      max-width: 375px;
    }

    &:hover .guide__link {
      background-color: #ddd;
      color: black;
      transform: scaleY(1.05);
      transition: all 2ms linear;
    }
  }

  &__hidden {
    display: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    padding: 6px 24px;
  }

  &__item {
    padding-left: 48px;
    position: relative;
    border-top: 1px solid #bfd1e4;

    &_link {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px;

      &:hover {
        background-color: #ddd;
        color: black;
        transform: scaleY(1.05);
        transition: all 2ms linear;
      }
    }
  }
}
// guide

// form-select
.form-select {
  padding-bottom: 400px;

  &__select {
    margin-bottom: 48px;
  }
}
// form-select

// поле выбора
.select {
  width: 100%;

  &__list {
    font-size: 13px;
    width: 100%;
  }

  &__item {
    font-size: 13px;
    width: 100%;
  }
}
// поле выбора
