// стилизация ползунка slider-icon *
.slider-icon {
  appearance: none;
  width: 100%;
  height: 0px;
  background: #d3d3d3;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 20px;
    background: url(../../assets/icons/iconSlider.svg);
    cursor: pointer;
    position: relative;
    // z-index: 1;
  }

  &::-webkit-range-thumb {
    width: 14px;
    height: 20px;
    background: url(../../assets/icons/southernMain/iconSlider.svg);
    cursor: pointer;
    position: relative;
    // z-index: 2;
  }

  &::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 20px;
    background: url(../../assets/icons/iconSlider.svg);
    cursor: pointer;
    position: relative;
    // z-index: 1;
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 20px;
    background: url(../../assets/icons/southernMain/iconSlider.svg);
    cursor: pointer;
    position: relative;
    // z-index: 2;
  }
}
// стилизация ползунка slider-icon *

// стилизация ползунка slider-bicolor *
.slider-bicolor {
  width: 100%;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 7px;

  &::-webkit-slider-runnable-track {
    height: 7px;
    background-color: #43e5f7;
  }

  &::-webkit-slider-thumb {
    background: #ecf0f1;
    cursor: pointer;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: -500px 0 0 500px blue;
  }
}
// стилизация ползунка slider-bicolor *

// r-checkbox *
.r-checkbox {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  margin-bottom: 24px;

  &__checker {
    width: 20px;
    height: 20px;
    border: 2px solid #95bef0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
    left: 2px;

    &:hover::before {
      content: "";
      width: 10px;
      height: 10px;
      margin: auto;
      background-color: transparent;
    }

    &:active::before {
      content: "";
      width: 10px;
      height: 10px;
      margin: auto;
      background-color: #00d2ff;
      transform: scale(1.2);
      transition: all 0.2s linear;
    }
  }

  &__input {
    display: none;
  }

  &__agree-link {
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 42px;
  }

  &__link {
    color: #50287d;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
  }
}
// r-checkbox *

// secondary-radio Двойной спаренный переключатель *
.secondary-radio {
  width: 100%;
  max-width: 132px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__subheading {
    font-size: 16px;
    line-height: 24px;
    color: blue;
    margin-bottom: 36px;
  }

  &__item {
    width: 50%;
    cursor: pointer;
    padding: 7px 12px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;

    &:active,
    &:hover {
      background-color: #15499f;
      border: 1px solid #15499f;
    }

    &:active .secondary-radio__title,
    &:hover .secondary-radio__title {
      color: #ffffff;
    }

    &:first-child {
      // border-right: none;
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      // border-left: none;
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.2s linear;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    font-size: 13px;
  }
}
// secondary-radio Двойной спаренный переключатель *

// triple-switch Тройной переключатель *
.triple-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b6d3f0;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 36px;

  &__item {
    cursor: pointer;
    padding: 19px 27px;
    margin: 5px;
    color: #5a646e;
    background: #f3f5f7;
    box-sizing: border-box;
    border-radius: 31px;

    &:hover {
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    &:active {
      background: #ffffff;
      border: 2px solid #00d2ff;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    font-size: 13px;
    color: #5a646e;
  }
}
// triple-switch Тройной переключатель *

// multicolor-switch  Тройной переключатель *
.multicolor-switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    max-width: 272px;

    @media screen and (min-width: 375px) {
      max-width: 372px;
    }
  }

  &__subheading {
    font-size: 16px;
    line-height: 24px;
    color: blue;
    margin-bottom: 36px;
  }

  &__item {
    width: calc(33.333333% - 12px);
    cursor: pointer;
    border-radius: 24px;
    background-image: linear-gradient(blue, green, yellow);
    box-shadow: 0 -5px 10px -3px #3498db, 0 5px 10px -3px #2ecc71;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    flex: auto;

    &:hover {
      transform: scale(1.05);
      opacity: 0.8;
      transition: all 0.2s linear;
    }

    &:hover .multicolor-switch__title {
      transform: rotate(360deg);
      transition: all 0.2s linear;
    }

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &:active {
      border: 1px solid #3498db;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    font-size: 13px;
    color: white;
    padding: 8px 0px;
  }
}
// multicolor-switch  Тройной переключатель *

// twin-switch  спаренный переключатель *
.twin-switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__subheading {
    color: blue;
    margin-bottom: 36px;
  }

  &__item {
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #c4c4c4;

    &:first-child {
      border-radius: 8px 0px 0px 8px;
    }

    &:last-child {
      border-radius: 0px 8px 8px 0px;
    }

    &:active .twin-switch__title,
    &:hover .twin-switch__title {
      color: white;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.2s linear;
    }

    &:active,
    &:hover {
      background-color: #1998a7;
      border: 1px solid #1998a7;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    font-size: 14px;
    text-align: center;
    padding: 16px 12px;
  }
}
// twin-switch  спаренный переключатель *
