// form-input
.form-input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 0;
}
// form-input

// policy-form
.policy-form {
  box-sizing: border-box;
  width: 100%;

  &__subheading {
    font-size: 18px;
    margin-bottom: 36px;
    color: magenta;
  }

  &__input-date {
    margin-bottom: 48px;
  }

  &__input-prompt {
    margin-bottom: 47px;
  }

  &__subtitle {
    color: #b5bdc8;
    margin-bottom: 48px;
  }

  &__contact-details {
    font-size: 13px;
    color: #5a646e;
    margin-bottom: 24px;
  }

  &__input-subtitle {
    margin-bottom: 47px;
  }

  &__checkbox {
    margin-bottom: 48px;
  }

  &__button-container {
    width: 100%;
    max-width: 365px;
    margin-top: 96px;
    margin-bottom: 48px;
  }
}
// policy-form
